.aunt {}
.aunt .page_main{background-image:url(../images/page1.png);}
.aunt .page1{background-image:url(../images/page2.png);}
.aunt .page2{background-image:url(../images/page3.png);}
.aunt .page3{background-image:url(../images/page4.png);}
