<!--
  @author: liyixin5
  @name: aunt
  @date: 2015Double11
  @description: 大婶
-->

<div class="wrap aunt" id="aunt" style="display:none;">
	<div class="page page_main page0">
		<a href="#" class="select option1" data-class='aunt' data-selection='1'>选项1</a>
		<a href="#" class="select option2"data-class='aunt' data-selection='2'>>选项2</a>
	</div>
	<div class="section">
		<div id="aunt_0" class="page sub_page page1 out"></div>
		<div id="aunt_1" class="page sub_page page2 out"></div>
		<div id="aunt_2" class="page sub_page page3 out"><a href="http://www.paipai.com/m2/2014/import/3598/index.shtml"></a>
		<a href="#" class="back">返回</a></div>
		<div id="aunt_3" class="page share out"></div>
	</div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
