<!--
  @author: liyixin5
  @name: aunt
  @date: 2015Double11
  @description: 大婶
-->

<div class="wrap aunt" id="aunt" style="display:none;">
	<div class="page page_main page0">
		<div class="page_bg"></div>
        <div class="page_bg_bd"></div>

		<h2 class="page_title"><span>买</span><span>点</span><span>啥</span><span>好</span></h2>
		<div class="char"><span class="star star_1"></span><span class="star star_2"></span></div>
		<a href="#" class="select option1 select_on" data-class='aunt' data-selection='1'><span class="arrow"></span>买一送一</a>
		<a href="#" class="select option2"data-class='aunt' data-selection='2'><span class="arrow"></span>年终大cu</a>
	</div>
	<div class="section">
		<div id="aunt_0" class="page sub_page page1 out">
			<div class="page_bg"></div>
          	<div class="page_bg_bd"></div>

			<div class="words"></div>
			<div class="char"></div>

			<div class="next_btn">
				<div class="next_icon"></div>
				<div class="next_letters"><span class="arrow"></span>买另一个试试</div>
			</div>
		</div>
		<div id="aunt_1" class="page sub_page page2 out">
			<div class="page_bg"></div>
          	<div class="page_bg_bd"></div>

			<div class="char">
				<div class="words"></div>
			</div>

			<div class="next_btn">
				<div class="next_icon"></div>
				<div class="next_letters"><span class="arrow"></span>买另一个试试</div>
			</div>
		</div>
		<div id="aunt_2" class="page sub_page page3 out">
			<div class="page_bg"></div>
          	<div class="page_bg_bd"></div>


			<div class="char"></div>
			<div class="promote_words"></div>
			<a href="http://www.paipai.com/m2/2014/import/3598/index.shtml" class="mall_link">上拍拍<span class="double11">11.11</span>包你对！</a>
			<a href="#" class="back_btn">如果能重来 我要选...</a>

			<div class="next_btn"><div class="next_arrow"></div></div>
		</div>
		<div id="aunt_3" class="page share out">
			<div class="page_bg_bd"></div>
			<span class="share_man"></span>
		</div>
	</div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
