$baseFontSize: 40px;

// pxToRem
@function rem($px){
  @return ceil(($px/$baseFontSize * 640/750)*10000)/10000+rem;
}

.mod_popup_imgs {
  background-image: url(../images/lottery_dialog_imgs.png);
  background-repeat: no-repeat;
  background-size: rem(2024px) auto;
}

.mod_popup { display: none;position:absolute;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5) url(../images/popup_yellow.png) 0 0.768rem no-repeat;background-size: 100% auto;z-index: 1001; }
.mod_popup.win.in, .mod_popup.lose.in { display: block; }
  .mod_popup_body { position: relative;margin: 2.13333rem auto 0 auto;width: 13.99467rem;height: 17.49333rem;background-position: rem(-40px) rem(-40px); }
  .mod_popup_star { position: absolute;left: 0;top: 0;width: 13.99467rem;height: 17.49333rem;background-position: rem(-1329px) rem(-40px);animation: blink .5s ease-out infinite; }
  .mod_popup_btn { position: absolute;left: 1.152rem;bottom:  2.79467rem;width: 11.52rem;height: 2.85867rem;border: 0.08533rem solid #34375A;background: #fff; }
    .mod_popup_btn a { display: block;position: absolute;left: 50%;top: 50%;margin-left: -3.2rem;margin-top: -0.810665rem;width: 6.4rem;height: 1.62133rem;overflow: hidden;background-position: rem(-949px) rem(-40px); }
      .mod_popup_btn a span { display: block;height: 1.36533rem;line-height: 1.36533rem;font-size: 0.59733rem;font-weight: bold;color: #232326;text-align: center; }
  .mod_popup_main { position: absolute;left: 1.96267rem;top: 2.60267rem;width: 10.02667rem;height: 9.04533rem;background-position: rem(-775px) rem(-342px);overflow: hidden; }
    .mod_popup.in .mod_popup_main { animation: slideTopALittle .5s .1s ease-out backwards; }
    .mod_popup_txt { position: absolute;left: 0;top: 3.84rem;width: 100%;height: 1.28rem;line-height: 1.28rem;text-align: center;font-size: 1.05rem;;color: #000; }
      .mod_popup_txt b { color: #fc5f3a; }
    .mod_popup_tip { position: absolute;top: 5.80267rem;width: 100%;height: 0.68267rem;font-size: 0;text-align: center;color: #999;overflow: hidden; }
      .mod_popup_tip span { display: inline-block;vertical-align: top;padding: 0 0.42667rem;height: 0.68267rem;line-height: 0.68267rem;font-size: 0.59733rem; }
        .mod_popup_tip b { display: inline-block;vertical-align: top;padding: 0 0.17067rem;max-width: 2.98667rem;height: 0.68267rem;line-height: 0.68267rem;font-weight: normal;text-overflow: ellipsis;overflow: hidden;white-space: nowrap; }
      .mod_popup_tip::before, .mod_popup_tip::after { content: "ooo";display: inline-block;vertical-align: top;width: 1.664rem;height: 0.68267rem;line-height: 0.68267rem;font-size: 0.59733rem;color: #B5B5B5;overflow: hidden; }
  .win.in .mod_popup_yqsex { position: absolute;left: 10.944rem;top: 7.89333rem;width: 2.34667rem;height: 2.90133rem;background-position: rem(-40px) rem(-939px);
    transform-origin: left bottom;animation: popupYqsex .2s .6s ease-out backwards; }
  .win.in .mod_popup_xiu { position: absolute;left: 6.18667rem;top: 0.128rem;width: 1.024rem;height: 2.13333rem;background-position: rem(-949px) rem(-118px);animation: slideTopALittle .5s ease-out backwards; }

   .mod_popup_close { display: block;position: absolute;left: 11.28533rem;top: 2.176rem;width: 1.28rem;height: 1.28rem;background: rgba(56,56,90,0.8);border-radius: 1.28rem;transform-origin: center center;transform: rotate(45deg); }
      .mod_popup_close::before { content: "";position: absolute;left: 50%;top: 50%;margin-left: -0.426665rem;width: 0.85333rem;height: 1px;background: #fff; }
      .mod_popup_close::after { content: "";position: absolute;left: 50%;top: 50%;margin-top: -0.426665rem;height: 0.85333rem;width: 1px;background: #fff; }



.mod_popup.lose { background: rgba(0,0,0,0.5); }
  .mod_popup_lose_inner { position: relative;margin: 2.13333rem 0 0 0.14933rem;width: 9.70067rem;height: 5.97333rem;background-color: #fff; }
    .mod_popup_cry { position: absolute;left: 3.52rem;top: 1.856rem;width: 2.00533rem;height: 3.02933rem;background-position: rem(-775px) rem(-40px); }
    .mod_popup_leaf { position: absolute;width: 0.512rem;height: 0.59733rem;background-position: rem(-775px) rem(-196px); }
      .mod_popup_leaf1 { left: 2.70933rem;top: 3.648rem; }
      .mod_popup_leaf2 {  left: 5.76rem;top: 1.51467rem; }
      .lose.in .mod_popup_leaf1 { left: 2.70933rem;top: 3.648rem;animation: leaf1 .9s .6s ease backwards; }
      .lose.in .mod_popup_leaf2 {  left: 5.76rem;top: 1.51467rem;animation: leaf2 .8s .6s ease backwards;  }
    .mod_popup_line {
      position: absolute;
      left: 5.376rem;
      top: 0.93867rem;
      width: 0.59733rem;
      height: 0.72533rem;
      background-position: rem(-775px) rem(-232px);
    }
    .lose.in .mod_popup_line {
      animation: popupLine .8s .5s ease backwards;
    }
    .mod_popup_losetip {
      position: absolute;
      left: 0;
      top: 5.056rem;
      width: 100%;
      height: 0.59733rem;
      line-height: 0.59733rem;
      text-align: center;
      font-size: 0.59733rem;
      color: #333;
    }
@keyframes popupLine {
  0% {
    clip-path: polygon(0 100%, 0 100%, 0 100%);
  }
  25% {
    clip-path: polygon(0 82%, 100% 81%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(20% 0%, 80% 0%, 73% 47%, 74% 64%, 99% 100%, 0 100%, 56% 77%, 64% 58%);
  }
  60% {
    clip-path: polygon(50% 0%, 72% 48%, 75% 70%, 100% 100%, 0 100%, 55% 78%, 5% 68%);
  }
  75% {
    clip-path: polygon(28% 0, 100% 34%, 79% 100%, 0 100%, 0 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }

}

@keyframes blink {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }

}

@keyframes popupYqsex {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slideTopALittle {
  0% {
    opacity: 0.8;
    transform: translateY(2.34667rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leaf1 {
  0% {
    opacity: 0;
    transform: translate(50%,-50%) rotate(-25deg);
  }
  100% {
    opacity: 1;
    transform: translate(0,0) rotate(0deg);
  }
}

@keyframes leaf2 {
  0% {
    opacity: 0;
    transform: translate(-50%,50%) rotate(25deg);
  }
  100% {
    opacity: 1;
    transform: translate(0,0) rotate(0deg);
  }
}
