@charset "UTF-8";

/*
 * @author: luckyadam
 * @time: 2015-11-3
*/

$baseFontSize: 40px;

// pxToRem
@function rem($px){
  @return ceil(($px/$baseFontSize * 640/750)*10000)/10000+rem;
}


body {
  background: #F5F2E2 url(../images/index_bg.png) repeat;
  background-size: rem(750px) auto;
}

.index {
  padding-bottom: 50px;
  display: none;
}
.index.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.mod_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.index_img {
  background-image: url(../images/index_imgs.png);
  background-repeat: no-repeat;
  background-size: rem(1754px) auto;
}
.index_img2 {
  background-image: url(../images/index_imgs2.png);
  background-repeat: no-repeat;
  background-size: 856px auto;
}
@font-face {
  font-family: 'MFLiHei';
  src:
    url('../images/MFLiHei_Noncommercial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
