/*
 * @author: liyixin5
 * @time: 2015-11-3
*/
.mod_container {
  overflow: hidden;
  position: relative; }

.section {
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transition: all ease .2s; }

.page {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  position: relative; }

.page_main {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: all ease .2s;
  overflow: hidden; }

.drag {
  -webkit-transition: none;
          transition: none; }

.share {
  background-color: #f2f3e3;
  background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  position: relative; }

.share_man {
  width: 10.9227rem;
  height: 16.256rem;
  background-image: url(/xgames/2015double11/images/share_man_420537b7.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: absolute;
  top: 0.256rem;
  left: 50%;
  margin-left: -5.1626rem; }

.page_bg, .page_bg_bd {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%; }

.page0 .page_bg {
  background-image: url(/xgames/gb/images/page_bg_bd.png); }

.sub_page .page_bg_bd {
  background-image: url(/xgames/gb/images/subpage_bg_bd.png); }

.page3 .mall_link .double11, .select .arrow, .next_letters .arrow, .next_arrow {
  background-image: url(/xgames/2015double11/images/gb_sp_b0111c85.png);
  background-repeat: no-repeat;
  background-size: 11.7974rem auto; }

.page3 .promote_words {
  width: 14.7414rem;
  height: 4.3307rem;
  background-image: url(/xgames/2015double11/images/promote_words_a63145cd.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.536rem;
  margin-left: -7.7866rem; }
.page3 .mall_link, .page3 .back_btn {
  width: 11.7974rem;
  height: 2.7307rem;
  position: absolute;
  left: 50%;
  top: 50%;
  background: url(/xgames/2015double11/images/gb_sp_b0111c85.png) no-repeat top center;
  background-size: 100% auto;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #000000;
  font-size: 0.8107rem;
  line-height: 1.92rem; }
.page3 .mall_link {
  margin-top: 3.4987rem; }
  .page3 .mall_link .double11 {
    width: 2.56rem;
    height: 1.92rem;
    display: inline-block;
    background-position: 0 -2.7733rem;
    color: transparent;
    margin: 0 0.064rem; }
.page3 .back_btn {
  margin-top: 6.6987rem; }

.select {
  position: absolute; }
  .select:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    -webkit-transition: all ease .1s;
            transition: all ease .1s; }
  .select .arrow {
    width: 2.9867rem;
    height: 2.1334rem;
    background-position: -2.56rem -2.7733rem;
    position: absolute;
    opacity: 0;
    z-index: 2; }

.select_on:after {
  opacity: 1; }
.select_on .arrow {
  opacity: 1; }

.next_btn {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }
  .next_btn .next_letters {
    position: absolute;
    left: 50%;
    top: 0.9387rem;
    font: 0/0 a; }
    .next_btn .next_letters .arrow {
      top: 0;
      left: -1.92rem; }
  .next_btn .next_letters .arrow, .next_btn .next_arrow {
    width: 1.92rem;
    height: 1.4934rem;
    background-position: -5.5466rem -2.7733rem;
    position: absolute; }
  .next_btn .next_arrow {
    top: 0.9814rem;
    left: 50%;
    margin-left: -0.96rem; }

.next {
  z-index: 1; }
  .next .next_btn {
    opacity: 1;
    z-index: 22; }

.music, .music .cross {
  background-image: url(/xgames/2015double11/images/music_271b14fb.png);
  background-repeat: no-repeat;
  background-size: 1.536rem auto; }

.music {
  width: 1.536rem;
  height: 1.536rem;
  background-position: 0 0;
  position: absolute;
  top: 0.64rem;
  right: 0.64rem;
  z-index: 101; }

.music .cross {
  width: 1.152rem;
  height: 1.152rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-position: 0 -1.6213rem;
  margin-left: -0.576rem;
  margin-top: -0.576rem;
  opacity: 0;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }

.music_off .cross {
  opacity: 1; }

@font-face {
  font-family: 'lh';
  src: url("/xgames/gb/images/lh_5dddd381.eot");
  src: url("/xgames/gb/images/lh_f97a2dd2.woff") format("woff"), url("/xgames/gb/images/lh_f74f79cd.ttf") format("truetype"), url("/xgames/gb/images/lh_68122c90.svg#svgFontName") format("svg"); }
.loading {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f3e3;
  background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  z-index: 100;
  font-family: "lh";
  font-size: 0.6827rem;
  color: #000000;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }

.loading_fold {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.chrym {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.chrym_head, .chrym_petal, .logo {
  background-image: url(/xgames/2015double11/images/loading_sp_ac8f3040.png);
  background-repeat: no-repeat;
  background-size: 4.6934rem auto; }

.chrym_head {
  width: 2.56rem;
  height: 2.3467rem;
  display: block;
  background-position: 0 0;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1.408rem; }

.chrym_petal {
  width: 4.6934rem;
  height: 4.4801rem;
  background-position: 0 -2.3466rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.3466rem;
  margin-top: -2.24rem;
  -webkit-animation: chrymrotate linear 2s infinite;
          animation: chrymrotate linear 2s infinite; }

.logo {
  width: 4.2667rem;
  height: 1.0667rem;
  background-position: 0 -6.8266rem;
  position: absolute;
  bottom: 1.1947rem;
  left: 50%;
  margin-left: -2.1333rem;
  font: 0/0 a; }

@-webkit-keyframes chrymrotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes chrymrotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.menu {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform ease .2s;
          transition: transform ease .2s;
  z-index: 11; }

.menu_fold {
  opacity: 0;
  -webkit-transition: opacity ease .2s .3s;
          transition: opacity ease .2s .3s; }

.menu_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/xgames/2015double11/images/menu_bg_1592f45f.png) no-repeat top center;
  background-size: 100% 100%;
  z-index: 0;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }

.menu a {
  color: #FFFFFF; }

.enter {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 10; }

.enter_aunt {
  top: 0;
  left: 0; }

.enter_beauty {
  top: 0;
  right: 0; }

.enter_cat {
  bottom: 0;
  left: 0; }

.enter_deliver {
  bottom: 0;
  right: 0; }

.enter span {
  position: absolute;
  background-image: url(/xgames/2015double11/images/menu_words_a400cccd.png);
  background-repeat: no-repeat;
  background-size: 7.68rem auto;
  font: 0/0 a;
  -webkit-transition: all ease .1s;
          transition: all ease .1s; }

.enter_aunt span {
  width: 7.4667rem;
  height: 4.0107rem;
  background-position: 0 0;
  bottom: 4.224rem;
  right: 0.5974rem;
  -webkit-transition-delay: .1s;
          transition-delay: .1s; }

.enter_beauty span {
  width: 7.68rem;
  height: 5.76rem;
  background-position: 0 -4.0533rem;
  bottom: 6.3574rem;
  left: 0rem; }

.enter_cat span {
  width: 7.2534rem;
  height: 4.2667rem;
  background-position: 0 -9.8133rem;
  right: -2.048rem;
  bottom: 6.4rem;
  -webkit-transition-delay: .15s;
          transition-delay: .15s; }

.enter_deliver span {
  width: 7.68rem;
  height: 3.84rem;
  background-position: 0 -14.08rem;
  left: 0;
  bottom: 0.7254rem;
  -webkit-transition-delay: .2s;
          transition-delay: .2s; }

.title {
  width: 15.6587rem;
  height: 8.5334rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7.8293rem;
  margin-top: -4.6933rem;
  z-index: 9;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }

.aunt .title, .beauty .title, .cat .title, .deliver .title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }
.aunt .enter span, .beauty .enter span, .cat .enter span, .deliver .enter span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0); }
.aunt .menu_bg, .beauty .menu_bg, .cat .menu_bg, .deliver .menu_bg {
  opacity: 0;
  -webkit-transition: ease .2s .2s;
          transition: ease .2s .2s; }

.title h1, .title h2 {
  font: 0/0 a; }

.title h1, .title h2 i, .title h2 strong {
  background-image: url(/xgames/2015double11/images/menu_title_ca8f52e9.png);
  background-repeat: no-repeat;
  background-size: 15.6587rem auto; }

.title h1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: 0 0; }

.title h2 {
  width: 7.8934rem;
  position: absolute;
  top: 5.2054rem;
  left: 50%;
  margin-left: -3.9466rem;
  text-align: center; }

.title h2 i {
  width: 7.8934rem;
  height: 1.0667rem;
  position: absolute;
  top: -0.384rem;
  left: 0;
  background-position: 0 -8.5333rem; }

.title h2 strong {
  width: 7.7654rem;
  height: 1.4934rem;
  display: inline-block;
  background-position: -7.8933rem -8.5333rem; }

.chars {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.chars span {
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  -webkit-transition: all ease .3s;
          transition: all ease .3s; }

.chars_aunt {
  width: 9.1734rem;
  height: 18.2187rem;
  top: 50%;
  left: 50%;
  background-image: url(/xgames/2015double11/images/aunt_auntie_2e50015e.png);
  margin-top: -12.544rem;
  margin-left: -6.4426rem;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scale(0.63) translate(0, 0);
      -ms-transform: scale(0.63) translate(0, 0);
          transform: scale(0.63) translate(0, 0); }

.chars_beauty {
  width: 9.856rem;
  height: 12.2454rem;
  left: 50%;
  bottom: 50%;
  margin-left: 0.256rem;
  margin-bottom: 2.688rem;
  background-image: url(/xgames/2015double11/images/page0_boy_067be99c.png);
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0.5) translate(0, 0);
      -ms-transform: scale(0.5) translate(0, 0);
          transform: scale(0.5) translate(0, 0); }
  .chars_beauty:after {
    width: 4.3947rem;
    height: 2.7307rem;
    position: absolute;
    content: "";
    top: 3.2rem;
    left: 3.4134rem;
    background: url(/xgames/2015double11/images/page0_boy_eye_8bdb5ca0.png) no-repeat top center;
    background-size: 100% auto; }

.chars_cat {
  width: 10.5387rem;
  height: 13.9094rem;
  background-image: url(/xgames/2015double11/images/cat_page0_cat_5785e02e.png);
  bottom: 1.1094rem;
  left: 0.3414rem;
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0.5) translate(0, 0);
      -ms-transform: scale(0.5) translate(0, 0);
          transform: scale(0.5) translate(0, 0); }
  .chars_cat:after {
    width: 4.6934rem;
    height: 2.8587rem;
    background: url(/xgames/gb/images/bowl.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    content: "";
    top: 12.2027rem;
    right: -0.2986rem; }

.chars_deliver {
  width: 11.6907rem;
  height: 10.7094rem;
  background-image: url(/xgames/2015double11/images/deliver_girl_b97fd7ae.png);
  bottom: 2.176rem;
  right: 0.2347rem;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: scale(0.8) translate(0, 0);
      -ms-transform: scale(0.8) translate(0, 0);
          transform: scale(0.8) translate(0, 0); }

.aunt .chars_aunt {
  -webkit-transform: scale(1) translate(-1.92rem, 7.8507rem);
      -ms-transform: scale(1) translate(-1.92rem, 7.8507rem);
          transform: scale(1) translate(-1.92rem, 7.8507rem); }
.aunt .chars_beauty, .aunt .chars_cat, .aunt .chars_deliver {
  -webkit-transform: scale(0) translate(0, 0);
      -ms-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0); }

.beauty .chars_beauty, .beauty .chars_cat, .beauty .chars_deliver, .beauty .chars_aunt {
  -webkit-transform: scale(0) translate(0, 0);
      -ms-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0); }

.cat .chars_cat {
  -webkit-transform: scale(1) translate(0, 0);
      -ms-transform: scale(1) translate(0, 0);
          transform: scale(1) translate(0, 0); }
.cat .chars_beauty, .cat .chars_deliver, .cat .chars_aunt {
  -webkit-transform: scale(0) translate(0, 0);
      -ms-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0); }

.deliver .chars_deliver {
  -webkit-transform: scale(1) translate(-2.7946rem, -10.2826rem);
      -ms-transform: scale(1) translate(-2.7946rem, -10.2826rem);
          transform: scale(1) translate(-2.7946rem, -10.2826rem); }
.deliver .chars_beauty, .deliver .chars_cat, .deliver .chars_aunt {
  -webkit-transform: scale(0) translate(0, 0);
      -ms-transform: scale(0) translate(0, 0);
          transform: scale(0) translate(0, 0); }

.aunt .page0 .select, .aunt .page0 .select:after, .aunt .page0 .char .star, .aunt .next_icon, .aunt .next_letters {
  background-image: url(/xgames/2015double11/images/aunt_page1_sp_a9ce1ddf.png);
  background-repeat: no-repeat;
  background-size: 16.2134rem auto; }
.aunt .select .arrow, .aunt .next_letters .arrow, .aunt .next_arrow {
  background-image: url(/xgames/2015double11/images/gb_sp_b0111c85.png);
  background-repeat: no-repeat;
  background-size: 11.7974rem auto; }
.aunt .page_title, .aunt .words {
  background-image: url(/xgames/2015double11/images/aunt_letters_9869a58d.png);
  background-repeat: no-repeat;
  background-size: 15.3174rem auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21; }
.aunt .page_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%; }
.aunt .sub_page .page_bg {
  background-image: url(/xgames/2015double11/images/subpage_bg_95ffdb11.png); }
.aunt .next_btn {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }
  .aunt .next_btn .next_icon {
    width: 8.1067rem;
    position: absolute;
    left: 50%;
    top: -1.92rem;
    margin-left: -7.0826rem;
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6); }
  .aunt .next_btn .next_letters {
    width: 6.1867rem;
    height: 1.4934rem;
    position: absolute;
    left: 50%;
    top: 0.9387rem;
    margin-left: -0.5973rem;
    background-position: -1.92rem -22.8266rem;
    font: 0/0 a; }
    .aunt .next_btn .next_letters .arrow {
      top: 0;
      left: -1.92rem; }
  .aunt .next_btn .next_letters .arrow, .aunt .next_btn .next_arrow {
    width: 1.92rem;
    height: 1.4934rem;
    background-position: -5.5466rem -2.7733rem;
    position: absolute; }
  .aunt .next_btn .next_arrow {
    top: 0.9814rem;
    left: 50%;
    margin-left: -0.96rem; }
.aunt .next .next_btn {
  opacity: 1; }
.aunt .page0 {
  background-image: url(/xgames/2015double11/images/aunt_page1_bg_c9875818.png); }
  .aunt .page0 .page_bg {
    background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png); }
  .aunt .page0 .select {
    width: 8.1067rem;
    position: absolute;
    font: 0/0 a;
    top: 50%;
    left: 50%; }
    .aunt .page0 .select:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0;
      -webkit-transition: all ease .1s;
              transition: all ease .1s; }
    .aunt .page0 .select .arrow {
      width: 2.9867rem;
      height: 2.1334rem;
      background-position: -2.56rem -2.7733rem;
      position: absolute;
      opacity: 0;
      -webkit-transform: rotate(20deg);
          -ms-transform: rotate(20deg);
              transform: rotate(20deg);
      left: -2.3466rem;
      top: 2.7734rem; }
  .aunt .page0 .select_on:after {
    opacity: 1; }
  .aunt .page0 .select_on .arrow {
    opacity: 1; }
  .aunt .page0 .option1 {
    height: 11.9467rem;
    background-position: 0 0;
    margin-top: -9.0453rem;
    z-index: 11; }
    .aunt .page0 .option1:after {
      background-position: -8.1066rem 0; }
  .aunt .page0 .option2 {
    height: 10.8801rem;
    background-position: 0 -11.9466rem;
    margin-top: 1.6214rem;
    z-index: 10; }
    .aunt .page0 .option2:after {
      background-position: -8.1066rem -11.9466rem; }
  .aunt .page0 .page_title {
    width: 15.3174rem;
    height: 6.1867rem;
    background-position: 0 0;
    margin-top: -12.3733rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font: 0/0 a; }
  .aunt .page0 .char {
    width: 9.1734rem;
    height: 18.2187rem;
    background: url(/xgames/2015double11/images/aunt_auntie_2e50015e.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4.6933rem;
    margin-left: -8.3626rem; }
    .aunt .page0 .char .star {
      width: 1.92rem;
      height: 2.9867rem;
      background-position: 0 -22.8266rem;
      position: absolute; }
    .aunt .page0 .char .star_1 {
      top: -1.4933rem;
      left: 1.152rem;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9); }
    .aunt .page0 .char .star_2 {
      top: 3.648rem;
      right: -1.2373rem;
      -webkit-transform: rotate(10deg);
          -ms-transform: rotate(10deg);
              transform: rotate(10deg); }
.aunt .page1 {
  background-color: #776f6a;
  background-image: url(/xgames/2015double11/images/aunt_page2_bg_0d1aaa7e.png); }
  .aunt .page1 .words {
    width: 14.9334rem;
    height: 6.4rem;
    background-position: 0 -6.1866rem;
    margin-top: -11.2213rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .aunt .page1 .char {
    width: 14.848rem;
    height: 17.7494rem;
    background: url(/xgames/2015double11/images/aunt_page2_char_58d8779e.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8.192rem;
    margin-left: -6.912rem; }
  .aunt .page1 .next_btn .next_icon {
    height: 11.9467rem; }
.aunt .page2 {
  background-color: #f7ec75;
  background-image: url(/xgames/2015double11/images/aunt_page3_bg_66161f3a.png); }
  .aunt .page2 .words {
    width: 10.7094rem;
    height: 5.3334rem;
    background-position: 0 -12.5866rem;
    top: 1.1947rem;
    left: 1.8774rem; }
  .aunt .page2 .char {
    width: 15.5734rem;
    height: 22.1867rem;
    background: url(/xgames/2015double11/images/aunt_page3_char_077d8173.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.2134rem;
    right: 0.128rem; }
  .aunt .page2 .next_btn .next_icon {
    height: 10.8801rem;
    top: -2.56rem; }
.aunt .page3 {
  background-color: #87c9ec; }
  .aunt .page3 .char {
    width: 15.0187rem;
    height: 21.8881rem;
    background: url(/xgames/2015double11/images/aunt_page4_char_fc74058a.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.2134rem;
    left: 50%;
    margin-left: -7.7866rem; }

.beauty .section .page {
  background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png);
  background-size: 100% 100%; }

.beauty .page0 {
  background: #9aa6ae url(/xgames/2015double11/images/page0_bg_08a9f0b7.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden; }

.beauty .page0_bg1 {
  position: absolute;
  left: 0.93867rem;
  top: 1.13067rem;
  width: 14.16533rem;
  height: 4.30933rem;
  background: url(/xgames/gb/images/page0_bg1.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0_bg2 {
  position: absolute;
  left: 5.99467rem;
  bottom: 1.07rem;
  width: 9.216rem;
  height: 6.99733rem;
  background: url(/xgames/gb/images/page0_bg2.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0_bubble {
  position: absolute;
  left: -0.59733rem;
  bottom: 6.48533rem;
  width: 16.93867rem;
  height: 18.944rem;
  background: url(/xgames/2015double11/images/page0_bubble_13e1ede4.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .option1 {
  position: absolute;
  left: 1.87733rem;
  bottom: 8.93867rem;
  width: 6.4854rem;
  height: 12.8rem;
  color: transparent;
  background: url(/xgames/2015double11/images/page0_lady1_377f2117.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0.on .option1 {
  -webkit-animation: moveToRight .5s  .1s ease backwards;
          animation: moveToRight .5s  .1s ease backwards; }

.beauty .option2 {
  position: absolute;
  left: 8.27733rem;
  bottom: 9.92rem;
  width: 6.31467rem;
  height: 11.9467rem;
  color: transparent;
  background: url(/xgames/2015double11/images/page0_lady2_ab82ef59.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0.on .option2 {
  -webkit-animation: moveToLeft .5s  .1s ease backwards;
          animation: moveToLeft .5s  .1s ease backwards; }

.beauty .page0_heart {
  position: absolute;
  left: 7.31733rem;
  bottom: 16.66133rem;
  width: 1.10933rem;
  height: 0.98133rem;
  background: url(/xgames/2015double11/images/page0_heart_f1ba4228.png) 0 0 no-repeat;
  background-size: 100% auto;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: rotateALittle .5s .1s ease infinite backwards;
          animation: rotateALittle .5s .1s ease infinite backwards; }

.beauty .select:before {
  width: 5.2907rem;
  height: 3.8827rem;
  position: absolute;
  content: "";
  background: url(/xgames/2015double11/images/page0_txther_1596d98d.png) no-repeat top center;
  background-size: 100% auto;
  opacity: 0;
  left: 0.2134rem;
  z-index: 1; }
.beauty .select .arrow {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: -0.9386rem;
  top: 7.6374rem; }

.beauty .select_on:after {
  opacity: 1; }
.beauty .select_on:before {
  opacity: 1; }
.beauty .select_on .arrow {
  opacity: 1; }

.beauty .option1:after {
  background: url(/xgames/2015double11/images/page0_lady1_377f2117.png) no-repeat 0 -12.8rem;
  background-size: 100% auto; }
.beauty .option1:before {
  top: 4.5654rem; }

.beauty .option2:after {
  background: url(/xgames/2015double11/images/page0_lady2_ab82ef59.png) no-repeat 0 -11.9466rem;
  background-size: 100% auto; }
.beauty .option2:before {
  top: 8.6614rem; }

.page0_boy {
  position: absolute;
  left: 0.21333rem;
  bottom: -1.17333rem;
  width: 9.856rem;
  height: 12.24533rem;
  background: url(/xgames/2015double11/images/page0_boy_067be99c.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0.on .page0_boy {
  -webkit-animation: moveToRight .5s  .4s ease backwards;
          animation: moveToRight .5s  .4s ease backwards; }

.beauty .page0_boy_eye {
  position: absolute;
  left: 3.392rem;
  top: 3.2rem;
  width: 4.39467rem;
  height: 2.73067rem;
  background: url(/xgames/2015double11/images/page0_boy_eye_8bdb5ca0.png) 0 0 no-repeat;
  background-size: 100% auto;
  -webkit-animation: scaleALittle 1s .1s ease infinite;
          animation: scaleALittle 1s .1s ease infinite; }

.beauty .page0_boy_slobber {
  position: absolute;
  left: 4.94933rem;
  top: 7.104rem;
  width: 0.768rem;
  height: 0.93867rem;
  background: url(/xgames/2015double11/images/page0_boy_slobber_5000d5c4.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0_txt {
  position: absolute;
  left: 0rem;
  bottom: 21.26933rem;
  width: 100%;
  height: 4.864rem;
  background: url(/xgames/2015double11/images/page0_txt_277f330e.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page0.on .page0_txt {
  -webkit-animation: scaleBig .8s 1s ease backwards;
          animation: scaleBig .8s 1s ease backwards; }

.beauty .page1 {
  background-color: #ffadad; }

.beauty .page1.next {
  z-index: 2; }

.beauty .page1_bg1 {
  position: absolute;
  left: 0.9rem;
  bottom: 0;
  width: 14.208rem;
  height: 1.96267rem;
  background: url(/xgames/2015double11/images/page1_bg_a85dffc2.png) 0 0 no-repeat;
  background-size: 100% 100%; }

.beauty .page1_bg2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(/xgames/2015double11/images/page_bg_a24b85be.png);
  background-size: 100% 100%; }

.beauty .page1_lady {
  position: absolute;
  left: 5.09867rem;
  bottom: 0.21333rem;
  width: 10.624rem;
  height: 22.656rem;
  background: url(/xgames/2015double11/images/page1_lady_55ffe352.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page1.on .page1_lady {
  -webkit-animation: moveToLeft .4s .2s ease backwards;
          animation: moveToLeft .4s .2s ease backwards; }

.beauty .page1_lady_nose {
  position: absolute;
  left: 3.98933rem;
  top: 4.736rem;
  width: 1.19467rem;
  height: 0.64rem;
  background: url(/xgames/2015double11/images/page1_lady_nose_be75a96e.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page1_boy {
  position: absolute;
  left: 0.384rem;
  bottom: 0.38rem;
  width: 4.56533rem;
  height: 6.99733rem;
  background: url(/xgames/2015double11/images/page1_boy_70783c10.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page1_txt {
  position: absolute;
  left: 0.46933rem;
  bottom: 5.76rem;
  width: 4.90667rem;
  height: 16.896rem;
  background: url(/xgames/2015double11/images/page1_txt_97c8e31c.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page1.out .page1_txt, .beauty .page1.out .page1_lady {
  opacity: 0; }

.beauty .page1.on .page1_txt {
  -webkit-animation: scaleBig 1s .8s ease backwards;
          animation: scaleBig 1s .8s ease backwards; }

.beauty .page_nextbtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.66933rem;
  opacity: 0;
  -webkit-transition: all .2s ease;
          transition: all .2s ease; }

.beauty .next .page1_nextbtn {
  opacity: 1; }

.beauty .page_nextbtn_txt {
  position: absolute;
  left: 4.50133rem;
  top: 1.344rem;
  width: 5.71733rem;
  height: 1.10933rem;
  background: url(/xgames/2015double11/images/page_nextbtn_txt_5b519842.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .next .page_nextbtn_txt {
  -webkit-animation: bounce 1.2s ease infinite;
          animation: bounce 1.2s ease infinite; }

.beauty .page1_nextbtn_lady {
  position: absolute;
  right: 0.98133rem;
  top: -0.896rem;
  width: 4.77867rem;
  height: 6.74133rem;
  background: url(/xgames/2015double11/images/page1_nextbtn_lady_391378cf.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page2 {
  background-color: #5bd8ee; }

.beauty .page2_bg {
  position: absolute;
  left: 0.91rem;
  bottom: 0.1867rem;
  width: 14.208rem;
  height: 3.02933rem;
  background: url(/xgames/2015double11/images/page2_bg_7c7096d9.png) 0 bottom no-repeat;
  background-size: 100% auto; }

.beauty .page2_txt {
  position: absolute;
  left: 0.23467rem;
  bottom: 3.648rem;
  width: 9.55733rem;
  height: 19.11467rem;
  background: url(/xgames/2015double11/images/page2_txt_9c4b5969.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page2.out .page2_txt {
  opacity: 0; }

.beauty .page2.on .page2_txt {
  -webkit-animation: scaleBig 1s .8s ease backwards;
          animation: scaleBig 1s .8s ease backwards; }

.beauty .page2_lady {
  position: absolute;
  left: 4.18133rem;
  bottom: 1.62133rem;
  width: 11.56267rem;
  height: 18.38933rem;
  background: url(/xgames/2015double11/images/page2_lady_b3fcbc21.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .next .page2_lady {
  opacity: 0; }

.beauty .page2.on .page2_lady {
  -webkit-animation: moveToLeft .4s .2s ease backwards;
          animation: moveToLeft .4s .2s ease backwards; }

.beauty .page2_lady_slobber {
  position: absolute;
  left: 5.54667rem;
  top: 6.29333rem;
  width: 0.85333rem;
  height: 1.32267rem;
  background: url(/xgames/2015double11/images/page2_lady_slobber_55c8c2a2.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page2_boy {
  position: absolute;
  left: 0.384rem;
  bottom: 1.45067rem;
  width: 7.04rem;
  height: 2.432rem;
  background: url(/xgames/2015double11/images/page2_boy_8ba1aa27.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page2_boy_blood1 {
  position: absolute;
  left: 5.12rem;
  top: 1.19467rem;
  width: 0.98133rem;
  height: 0.81067rem;
  background: url(/xgames/2015double11/images/page2_boy_blood1_36d97717.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page2_boy_blood2 {
  position: absolute;
  left: 6.08rem;
  top: 1.77067rem;
  width: 0.768rem;
  height: 0.384rem;
  background: url(/xgames/2015double11/images/page2_boy_blood2_37492973.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .next .page2_nextbtn {
  opacity: 1; }

.beauty .page2_nextbtn_lady {
  position: absolute;
  right: 1.57867rem;
  top: -0.49067rem;
  width: 3.968rem;
  height: 3.84rem;
  background: url(/xgames/2015double11/images/page2_nextbtn_lady_e407d912.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page3 {
  background-color: #ffe683; }

.beauty .page3_lady2 {
  position: absolute;
  left: 0.384rem;
  bottom: 12.24533rem;
  width: 10.79467rem;
  height: 11.22133rem;
  background: url(/xgames/2015double11/images/page3_lady1_773daec0.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .page3_lady1 {
  position: absolute;
  left: 8.81067rem;
  bottom: 12.11733rem;
  width: 7.76533rem;
  height: 7.89333rem;
  background: url(/xgames/2015double11/images/page3_lady2_7ad57d41.png) 0 0 no-repeat;
  background-size: 100% auto; }

.beauty .next .page3_lady1, .next .page3_lady2 {
  opacity: 0; }

.beauty .page3_beizi {
  position: absolute;
  left: 0.87rem;
  bottom: 0.21333rem;
  width: 14.30667rem;
  height: 13.52533rem;
  background: url(/xgames/2015double11/images/page3_beizi_57f60e7c.png) 0 bottom no-repeat;
  background-size: 100% auto; }

@-webkit-keyframes bounce {
  0%,100%,20%,53%,80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.64rem, 0);
    transform: translate3d(0, -0.64rem, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.32rem, 0);
    transform: translate3d(0, -0.32rem, 0); }
  90% {
    -webkit-transform: translate3d(0, -0.08533rem, 0);
    transform: translate3d(0, -0.08533rem, 0); } }

@keyframes bounce {
  0%,100%,20%,53%,80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.64rem, 0);
    transform: translate3d(0, -0.64rem, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.32rem, 0);
    transform: translate3d(0, -0.32rem, 0); }
  90% {
    -webkit-transform: translate3d(0, -0.08533rem, 0);
    transform: translate3d(0, -0.08533rem, 0); } }
@-webkit-keyframes rotateALittle {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); } }
@keyframes rotateALittle {
  0% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); }
  50% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  100% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg); } }
@-webkit-keyframes moveToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@-webkit-keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@-webkit-keyframes scaleBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
@keyframes scaleBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
@-webkit-keyframes scaleALittle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
@keyframes scaleALittle {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

.cat .section .page {
  background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png);
  background-size: 100% 100%; }

.cat .page0 {
  background: url(/xgames/2015double11/images/cat_page0_bg_0eb434cb.png) 0 0 no-repeat;
  background-size: 100% 100%;
  overflow: hidden; }

.cat .option1 {
  position: absolute;
  left: 0.42667rem;
  bottom: 14.57067rem;
  width: 7.1254rem;
  height: 7.3387rem;
  color: transparent; }

.cat .option2 {
  position: absolute;
  left: 7.50933rem;
  bottom: 14.44267rem;
  width: 7.2534rem;
  height: 7.3387rem;
  color: transparent; }

.cat .page0_cat {
  position: absolute;
  left: 0.34133rem;
  bottom: 1.024rem;
  width: 10.53867rem;
  height: 13.90933rem;
  background: url(/xgames/2015double11/images/cat_page0_cat_5785e02e.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat.page0.on .page0_cat {
  -webkit-animation: moveToLeft .5s  .1s ease backwards;
          animation: moveToLeft .5s  .1s ease backwards; }

.cat .page0_txt {
  position: absolute;
  left: 9.088rem;
  bottom: 2.32533rem;
  width: 6.144rem;
  height: 13.39733rem;
  background: url(/xgames/2015double11/images/cat_page0_txt_7bf3b16a.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page0.on .page1_txt {
  -webkit-animation: scaleBig 1s .5s ease backwards;
          animation: scaleBig 1s .5s ease backwards; }

.cat .page0_cat2 {
  position: absolute;
  left: 6.25067rem;
  bottom: 0;
  width: 9.472rem;
  height: 3.15733rem;
  background: url(/xgames/2015double11/images/cat_page0_cat2_9af9396b.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .select:after {
  display: none;
  background-image: url(/xgames/2015double11/images/cat_page0_food_cdb8779f.png);
  background-repeat: no-repeat;
  background-size: 14.3787rem auto; }
.cat .select .arrow {
  top: 1.024rem;
  right: -1.0666rem;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.cat .option1:after {
  background-position: 0 0; }
.cat .options2:after {
  background-position: -7.3386rem 0; }

.cat .page1 {
  background: #fdee9f; }

.cat .page1_bg1 {
  position: absolute;
  left: -0.85333rem;
  bottom: -1.68533rem;
  width: 18.38933rem;
  height: 9.472rem;
  background: url(/xgames/2015double11/images/cat_page1_bg_aa27648e.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page1_bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/xgames/2015double11/images/page_bg_a24b85be.png) 0 0 no-repeat;
  background-size: 100% 100%; }

.cat .page1_cat {
  position: absolute;
  left: -1.87733rem;
  bottom: 0.19rem;
  width: 16.64rem;
  height: 13.35467rem;
  background: url(/xgames/2015double11/images/cat_page1_cat_b14f5869.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page1_txt {
  position: absolute;
  left: 0.08533rem;
  bottom: 13.97333rem;
  width: 14.336rem;
  height: 8.61867rem;
  background: url(/xgames/2015double11/images/cat_page1_txt_015d46a7.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page0.on .page1_txt {
  -webkit-animation: scaleBig 1s .2s ease backwards;
          animation: scaleBig 1s .2s ease backwards; }

.cat .page1_fake {
  position: absolute;
  left: 9.408rem;
  bottom: 3.88267rem;
  width: 2.432rem;
  height: 2.432rem;
  background: url(/xgames/2015double11/images/cat_page_fake_0c9fc317.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page0.on .page1_fake {
  -webkit-animation: scaleBig 1s .5s ease backwards;
          animation: scaleBig 1s .5s ease backwards; }

.cat .page_nextbtn {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.66933rem;
  opacity: 0;
  -webkit-transition: all .2s ease;
          transition: all .2s ease; }

.cat .next .page1_nextbtn {
  opacity: 1; }

.cat .page_nextbtn_txt {
  position: absolute;
  left: 4.50133rem;
  top: 1.344rem;
  width: 5.71733rem;
  height: 1.10933rem;
  background: url(/xgames/2015double11/images/cat_page_nextbtn_txt_17ba5fc6.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .next .page_nextbtn_txt {
  -webkit-animation: bounce 1.2s ease infinite;
          animation: bounce 1.2s ease infinite; }

.cat .page1_nextbtn_cat {
  position: absolute;
  right: 0.98133rem;
  top: -0.896rem;
  width: 3.84rem;
  height: 3.62667rem;
  background: url(/xgames/2015double11/images/cat_page1_nextbtn_cat_deefd38d.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page2 {
  background-color: #cfeeff; }

.cat .page2_bg1 {
  position: absolute;
  left: -1.77067rem;
  bottom: -0.06667rem;
  width: 18.34667rem;
  height: 7.544rem;
  background: url(/xgames/2015double11/images/cat_page2_bg_0426d62f.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page2_bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/xgames/2015double11/images/page_bg_a24b85be.png) 0 0 no-repeat;
  background-size: 100% 100%; }

.cat .page2_txt {
  position: absolute;
  left: 0.512rem;
  bottom: 0.34133rem;
  width: 4.992rem;
  height: 12.24533rem;
  background: url(/xgames/2015double11/images/cat_page2_txt_c21ea9ea.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page0.on .page2_txt {
  -webkit-animation: scaleBig 1s .2s ease backwards;
          animation: scaleBig 1s .2s ease backwards; }

.cat .page2_cat {
  position: absolute;
  left: 0.10667rem;
  bottom: 0.832rem;
  width: 15.488rem;
  height: 20.864rem;
  background: url(/xgames/2015double11/images/cat_page2_cat_d93548ea.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page2_fake {
  position: absolute;
  left: 5.41867rem;
  bottom: 1.92rem;
  width: 1.92rem;
  height: 1.92rem;
  background: url(/xgames/2015double11/images/cat_page_fake_0c9fc317.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page0.on .page2_fake {
  -webkit-animation: scaleBig 1s .5s ease backwards;
          animation: scaleBig 1s .5s ease backwards; }

.cat .next .page2_nextbtn {
  opacity: 1; }

.cat .page2_nextbtn_cat {
  position: absolute;
  right: 1.57867rem;
  top: -0.49067rem;
  width: 3.584rem;
  height: 3.456rem;
  background: url(/xgames/2015double11/images/cat_page2_nextbtn_cat_144ac588.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page3 {
  background-color: #fdf48f; }

.cat .page3_cat {
  position: absolute;
  left: 0.256rem;
  bottom: 0.23rem;
  width: 15.18933rem;
  height: 21.504rem;
  background: url(/xgames/2015double11/images/cat_page3_cat_4a4203af.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page3_hand {
  position: absolute;
  left: 3.75467rem;
  bottom: 7.85067rem;
  width: 16.55467rem;
  height: 8.14933rem;
  background: url(/xgames/2015double11/images/cat_page3_hand_54b8d1d5.png) 0 0 no-repeat;
  background-size: 100% auto; }

.cat .page3.on .page3_hand {
  -webkit-animation: moveToRight .5s  1s ease backwards;
          animation: moveToRight .5s  1s ease backwards; }

@keyframes bounce {
  0%,100%,20%,53%,80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.64rem, 0);
    transform: translate3d(0, -0.64rem, 0); }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -0.32rem, 0);
    transform: translate3d(0, -0.32rem, 0); }
  90% {
    -webkit-transform: translate3d(0, -0.08533rem, 0);
    transform: translate3d(0, -0.08533rem, 0); } }
@keyframes scaleBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(2, 2);
            transform: scale(2, 2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
@keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@keyframes moveToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

.deliver .page0 .select, .deliver .page0 .select:after, .deliver .next_letters {
  background-image: url(/xgames/2015double11/images/deliver_page1_sp_20c5366e.png);
  background-repeat: no-repeat;
  background-size: 7.04rem auto; }
.deliver .select .arrow, .deliver .next_letters .arrow, .deliver .next_arrow {
  background-image: url(/xgames/2015double11/images/gb_sp_b0111c85.png);
  background-repeat: no-repeat;
  background-size: 11.7974rem auto; }
.deliver .words {
  background-image: url(/xgames/2015double11/images/deliver_letters_44ad4f06.png);
  background-repeat: no-repeat;
  background-size: 20.48rem auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 21; }
.deliver .page_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%; }
.deliver .sub_page .page_bg {
  background-image: url(/xgames/2015double11/images/subpage_bg_95ffdb11.png); }
.deliver .next_btn {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease .2s;
          transition: all ease .2s; }
  .deliver .next_btn .next_letters {
    width: 5.76rem;
    height: 1.28rem;
    position: absolute;
    left: 50%;
    top: 0.9387rem;
    margin-left: -2.24rem;
    background-position: 0 -8.5333rem;
    font: 0/0 a; }
    .deliver .next_btn .next_letters .arrow {
      top: 0;
      left: -1.92rem; }
  .deliver .next_btn .next_letters .arrow, .deliver .next_btn .next_arrow {
    width: 1.92rem;
    height: 1.4934rem;
    background-position: -5.5466rem -2.7733rem;
    position: absolute; }
  .deliver .next_btn .next_arrow {
    top: 0.9814rem;
    left: 50%;
    margin-left: -0.96rem; }
.deliver .next .next_btn {
  opacity: 1; }
.deliver .page0 {
  background-color: #e7e8d1; }
  .deliver .page0 .page_bg {
    background-image: url(/xgames/2015double11/images/page_bg_a24b85be.png); }
  .deliver .page0 .char {
    width: 15.36rem;
    height: 24.6187rem;
    background: url(/xgames/2015double11/images/deliver_page1_char_0680a713.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.768rem;
    left: 0; }
    .deliver .page0 .char .girl {
      width: 11.6907rem;
      height: 10.7094rem;
      background: url(/xgames/2015double11/images/deliver_girl_b97fd7ae.png) no-repeat top center;
      background-size: 100% auto;
      position: absolute;
      top: 2.2187rem;
      left: 1.28rem; }
  .deliver .page0 .select_wrap {
    position: absolute;
    top: 16.8534rem;
    left: 3.072rem;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-19deg);
        -ms-transform: rotate(-19deg);
            transform: rotate(-19deg); }
  .deliver .page0 .select {
    width: 7.04rem;
    height: 2.0907rem;
    display: block;
    position: relative;
    font: 0/0 a; }
    .deliver .page0 .select:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      opacity: 0;
      -webkit-transition: all ease .1s;
              transition: all ease .1s; }
    .deliver .page0 .select .arrow {
      width: 2.9867rem;
      height: 2.1334rem;
      background-position: -2.56rem -2.7733rem;
      position: absolute;
      opacity: 0;
      -webkit-transform: rotate(-20deg);
          -ms-transform: rotate(-20deg);
              transform: rotate(-20deg);
      left: -2.56rem;
      top: 0; }
  .deliver .page0 .select_on:after {
    opacity: 1; }
  .deliver .page0 .select_on .arrow {
    opacity: 1; }
  .deliver .page0 .option1 {
    background-position: 0 0; }
    .deliver .page0 .option1:after {
      background-position: 0 -4.2666rem; }
  .deliver .page0 .option2 {
    background-position: 0 -2.0906rem; }
    .deliver .page0 .option2:after {
      background-position: 0 -6.3573rem; }
.deliver .page1 {
  background-color: #e2faff;
  background-image: url(/xgames/2015double11/images/deliver_page2_bg_3b41bb75.png); }
  .deliver .page1 .words {
    width: 15.5734rem;
    height: 5.76rem;
    background-position: -4.9066rem 0;
    top: 50%;
    left: 50%;
    margin-top: -11.3706rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .deliver .page1 .char {
    width: 15.7867rem;
    height: 17.4934rem;
    background: url(/xgames/2015double11/images/deliver_page2_char_ae9b6676.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.2134rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
.deliver .page2 {
  background-color: #ffc64a;
  background-image: url(/xgames/2015double11/images/deliver_page3_bg_7687e4e5.png); }
  .deliver .page2 .words {
    width: 4.736rem;
    height: 9.728rem;
    background-position: 0 0;
    margin-top: -12.6506rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6.464rem; }
  .deliver .page2 .char {
    width: 14.848rem;
    height: 17.7494rem;
    background: url(/xgames/2015double11/images/deliver_page3_char_d12ed8c1.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.2134rem;
    right: 0; }
.deliver .page3 {
  background-color: #ffe683; }
  .deliver .page3 .char {
    width: 15.4027rem;
    height: 23.2107rem;
    background: url(/xgames/2015double11/images/deliver_page4_char_42c34066.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    bottom: 0.2134rem;
    left: 0; }
