.winner_list {margin:0 auto 15px;width:94.6666%;}
  .winner_list_tit {margin:0 auto 5px;padding-top:6.6197%;background:url(../images/list_tit.png);background-size:100% 100%;}
  .winner_list_cont {position:relative;margin:0 auto;padding-top:45.4929%;background:url(../images/ss1.png);background-size:100% 100%;animation:flicker 1.5s steps(1, end) infinite;}
    .winner_list_cont_wrap {position:absolute;top:0;left:0;box-sizing:border-box;padding:10% 10%;width:100%;height:100%;}
      .winner_list_cont_wrap_kuang {width:100%;height:100%;overflow:hidden;}
        .winner_list_cont_wrap_kuang ul {}
          .winner_list_cont_wrap_kuang ul li {color:#F9E826;overflow:hidden;}
            .winner_list_cont_wrap_kuang ul li div:first-child {float:left;}
            .winner_list_cont_wrap_kuang ul li div:last-child {margin-left:100px;text-align:right;}

@keyframes flicker {
  0 {background:url(../images/ss1.png);background-size:100% 100%;}
  50% {background:url(../images/ss2.png);background-size:100% 100%;}
}
