<!--
  @author: luckyadam
  @name: winner_list
  @date: games
  @description: 获奖名单
-->

<div class="winner_list">
  <div class="winner_list_tit"></div>
  <div class="winner_list_cont">
    <div class="winner_list_cont_wrap">
      <div class="winner_list_cont_wrap_kuang">
        <ul>
          <li>
            <div>12345**678</div>
            <div>抽中100减20店铺券</div>
          </li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
          <li><div>12345**678</div><div>抽中100减20店铺券</div></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
