<!--
  @author: luckyadam
  @name: winner_list
  @date: games
  @description: 获奖名单
-->

<div class="winner_list">
  <div class="winner_list_tit"></div>
  <div class="winner_list_cont">
    <div class="winner_list_cont_wrap">
      <div class="winner_list_cont_wrap_kuang">
        <ul class="winner_list_cont_list">

        </ul>
      </div>
    </div>
  </div>
</div>

<% widget.scriptStart() %>
<script>
  PP.use('games/widget/winner_list', function (WinnerList) {
    var winnerList = new WinnerList({
      $el: $('.winner_list')
    });
  });
</script>
<% widget.scriptEnd() %>
