$baseFontSize: 20px;
@function pxToRem ($px) {
  @return $px / $baseFontSize * 640 / 750 + rem;
}


.tip {
  opacity: 1;
  transition: all opacity .5s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.tip.out {
  opacity: 0;
  display: none;
}

.tip_bubble {
  position: absolute;
  width: pxToRem(160px);
  height: pxToRem(184px);
  top: 50%;
  margin-top: pxToRem(-110px);
  left: 50%;
  margin-left: pxToRem(-80px);
  background-image: url(../images/slot_tip_bg.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: pxToRem(160px) auto;
  background-size: pxToRem(160px) auto;
}

.tip_popsicle_p {
  position: absolute;
  bottom: 0;
  left: pxToRem(13px);
  width: pxToRem(163px);
  height: pxToRem(237px);
  background-image: url(../images/little_p.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: pxToRem(163px) auto;
  background-size: pxToRem(163px) auto;
}

