<!--
  @author: luckyadam
  @name: game_carousel
  @date: games
  @description: 轮播
-->

<!-- prev | before | next 牌位置before触发动画-->
<div class="game_carousel before">
  <!-- blue | purple | green 牌类型-->
  <!-- sfight | tfight 分享再战|明日再战-->
  <div class="game_carousel_card purple">
    <div class="game_carousel_card_cont">
      <!-- orange | yellow -->
      <div class="circle orange">分享<br>再战</div>
      <div class="circle yellow">明日<br>再战</div>
    </div>
  </div>
  <div class="game_carousel_card blue">
    <div class="game_carousel_card_cont">
      <!-- orange | yellow -->
      <div class="circle orange">分享<br>再战</div>
      <div class="circle yellow">明日<br>再战</div>
    </div>
  </div>
  <div class="game_carousel_card green">
    <div class="game_carousel_card_cont">
      <!-- orange | yellow -->
      <div class="circle orange">分享<br>再战</div>
      <div class="circle yellow">明日<br>再战</div>
    </div>
  </div>
</div>

<% widget.scriptStart() %>
<script>
  PP.use('games/widget/game_carousel', function (Carousel) {
    var carousel = new Carousel({
      wrapper: $('.game_carousel'),
      isAuto: true
    });
  });
</script>
<% widget.scriptEnd() %>
