.game_carousel {z-index:5; position:relative;margin:0 auto;width:206px;height:306px;  -webkit-tansform-style:preserve-3d; -webkit-perspective: 1000;}
  .game_carousel_card {-webkit-transform-style:flat;transform-style:flat;position:absolute;top:0;left:0;-webkit-box-sizing:border-box;box-sizing:border-box;padding:7px;width:100%;height:100%;border:3px solid #38385A;border-radius:15px; -webkit-transform-origin:center center;transform-origin:center center; -webkit-transition:0.3s ease;transition:0.3s ease;}
  .game_carousel_card.blue {background-color:#0D9CDF; }
  .game_carousel_card.purple {background-color:#9069F5; }
  .game_carousel_card.green {background-color:#A1DD00; }
  .game_carousel_card.sfight, .game_carousel_card.tfight {background-color:#BCBCBC;}

  .game_carousel.prev .game_carousel_card:nth-child(1) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.prev .game_carousel_card:nth-child(1) .game_carousel_card_cont {-webkit-animation:card_p 0.9s steps(1, end) infinite;animation:card_p 0.9s steps(1, end) infinite;}
  .game_carousel.prev .game_carousel_card:nth-child(2) {-webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.prev .game_carousel_card:nth-child(3) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.before .game_carousel_card:nth-child(1) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.before .game_carousel_card:nth-child(2) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.before .game_carousel_card:nth-child(2) .game_carousel_card_cont {-webkit-animation:card_b 0.9s steps(1, end) infinite;animation:card_b 0.9s steps(1, end) infinite;}
  .game_carousel.before .game_carousel_card:nth-child(3) {webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(1) {webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(2) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(3) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.next .game_carousel_card:nth-child(3) .game_carousel_card_cont {-webkit-animation:card_g 0.9s steps(1, end) infinite;animation:card_g 0.9s steps(1, end) infinite;}

    .game_carousel_card_cont {position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:100%;border:6px solid #ccc;border-radius:15px;}
    .game_carousel_card.blue .game_carousel_card_cont {border-color:#0B88CF;background-color:#13B0EB;background-position: -20px -20px; }
    .game_carousel_card.purple .game_carousel_card_cont {border-color:#8258FB;background-color:#9C76FF;background-position: -662px -20px; }
    .game_carousel_card.green .game_carousel_card_cont {border-color:#94CC00;background-color:#A8E602;background-position: -20px -334px; }

    .game_carousel .game_carousel_card.sfight .game_carousel_card_cont, .game_carousel_card.tfight .game_carousel_card_cont { -webkit-animation:none !important;animation:none !important;}
    .game_carousel_card.blue.sfight .game_carousel_card_cont, .game_carousel_card.blue.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2;background-position: -448px -20px;animation:none;}
    .game_carousel_card.purple.sfight .game_carousel_card_cont, .game_carousel_card.purple.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2; background-position: -20px -648px;animation:none;}
    .game_carousel_card.green.sfight .game_carousel_card_cont, .game_carousel_card.green.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2; background-position: -448px -334px;animation:none;}
      .game_carousel_card_cont .circle {position:absolute;top:82px;left:32px;display:none;padding:22px;width:66px;height:66px;border-radius:50%;text-align:center;font-family:'MFLiHei';font-size:29px;line-height:1.2;font-weight:bold;color:#38385A;}
      .game_carousel_card_cont .circle:after {content:'';position:absolute;top:6px;left:6px;width:90px;height:90px;border:4px solid #38385A;border-radius:50%;}
      .game_carousel_card_cont .circle.orange {background-color:#FE7624;}
      .game_carousel_card_cont .circle.yellow {background-color:#FEEC24;}
      .game_carousel_card.sfight .circle.orange {display:block;}
      .game_carousel_card.tfight .circle.yellow {display:block;}

@keyframes card_b {
  0% {background-position: -20px -20px;}
  50% {background-position: -234px -20px;}
}
@keyframes card_p {
  0% {background-position: -662px -20px;}
  50% {background-position: -662px -334px;}
}
@keyframes card_g {
  0% {background-position: -20px -334px;}
  50% {background-position: -234px -334px;}
}
