@charset "UTF-8";

/*===================
  样式重置
===================*/
* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
html {
  font-size: 40px;
  width: 100%;
  height: 100%;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
img {
  border: 0 none;
  vertical-align: top;
}
i, em {
  font-style: normal;
}
ol, ul {
  list-style: none;
}
input, select, button, h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #666;
}
body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  height: 100%;
  font-size: 14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
          -ms-text-size-adjust: 100% !important;
      text-size-adjust: 100% !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
input[type="text"],textarea{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*===================
  公共样式区域
===================*/
.display_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.display_flex.horizontal {
  box-orient: horizontal;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}
.display_flex.vertical {
  box-orient: vertical;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.top_player {
  position: absolute;
  top: 0.68267rem;
  right: 0.68267rem;
  z-index: 999;
  -webkit-animation-name: rotationForever;
          animation-name: rotationForever;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.top_player.stop {
  -webkit-animation: none;
          animation: none; }

.top_player_btn {
  display: block;
  width: 1.536rem;
  height: 1.536rem;
  background-repeat: no-repeat;
  background-size: 2.13333rem 3.41333rem;
  background-image: url(/xgames/gb/images/top_player_f9d76f2e.png); }

.top_player_btn.on {
  background-position: 0 0; }

.top_player_btn.off {
  background-position: 0 -1.70667rem; }

@-webkit-keyframes rotationForever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotationForever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@font-face {
  font-family: 'Countdown';
  src: url("/xgames/gb/images/lh_5dddd381.eot");
  src: url("/xgames/gb/images/lh_f97a2dd2.woff") format("woff"), url("/xgames/gb/images/lh_f74f79cd.ttf") format("truetype"), url("/xgames/gb/images/lh_68122c90.svg#svgFontName") format("svg"); }
.countdown {
  width: 3.11467rem;
  height: 2.944rem;
  position: absolute;
  top: 0.68267rem;
  left: 0.68267rem;
  background-image: url(/xgames/gb/images/countdown_15090e1d.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Countdown';
  box-sizing: border-box;
  line-height: 2.944rem;
  text-align: center;
  color: #38385a; }

.countdown_bg {
  position: absolute;
  width: 2.51733rem;
  height: 2.51733rem;
  border-radius: 100%;
  top: 0.128rem;
  left: 0.128rem;
  z-index: 1;
  background-color: #b1ffec; }

.countdown_bg_pie {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.51733rem;
  height: 2.51733rem;
  background-color: #fff;
  border-radius: 50%; }

.countdown_bg_left {
  clip: rect(0px, 2.51733rem, 2.51733rem, 1.25867rem);
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.countdown_bg_right {
  clip: rect(0px, 1.25867rem, 2.51733rem, 0px);
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg); }

.countdown_time {
  position: relative;
  z-index: 2; }

.countdown_num {
  font-size: 1.024rem; }

.countdown_unit {
  font-size: 0.68267rem; }

.countdown2 {
  width: 8.448rem;
  height: 6.99733rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.224rem;
  z-index: 999; }

.countdown2_txt {
  width: 8.448rem;
  height: 6.99733rem;
  background-image: url(/xgames/gb/images/countdown2_6d2a51c1.png);
  background-repeat: no-repeat;
  background-size: 8.53333rem auto;
  background-position: 0 0; }

.mod_popup_imgs {
  background-image: url(/xgames/gb/images/lottery_dialog_imgs_c12f15ec.png);
  background-repeat: no-repeat;
  background-size: 43.1787rem auto; }

.mod_popup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5) url(/xgames/gb/images/popup_yellow_1ec8d671.png) 0 0.768rem no-repeat;
  background-size: 100% auto;
  z-index: 1001; }

.mod_popup.win.in, .mod_popup.lose.in {
  display: block; }

.mod_popup_body {
  position: relative;
  margin: 2.13333rem auto 0 auto;
  width: 13.99467rem;
  height: 17.49333rem;
  background-position: -0.8533rem -0.8533rem; }

.mod_popup_star {
  position: absolute;
  left: 0;
  top: 0;
  width: 13.99467rem;
  height: 17.49333rem;
  background-position: -28.352rem -0.8533rem;
  -webkit-animation: blink .5s ease-out infinite;
          animation: blink .5s ease-out infinite; }

.mod_popup_btn {
  position: absolute;
  left: 1.152rem;
  bottom: 2.79467rem;
  width: 11.52rem;
  height: 2.85867rem;
  border: 0.08533rem solid #34375A;
  background: #fff; }

.mod_popup_btn a {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.2rem;
  margin-top: -0.810665rem;
  width: 6.4rem;
  height: 1.62133rem;
  overflow: hidden;
  background-position: -20.2453rem -0.8533rem; }

.mod_popup_btn a span {
  display: block;
  height: 1.36533rem;
  line-height: 1.36533rem;
  font-size: 0.59733rem;
  font-weight: bold;
  color: #232326;
  text-align: center; }

.mod_popup_main {
  position: absolute;
  left: 1.96267rem;
  top: 2.60267rem;
  width: 10.02667rem;
  height: 9.04533rem;
  background-position: -16.5333rem -7.296rem;
  overflow: hidden; }

.mod_popup.in .mod_popup_main {
  -webkit-animation: slideTopALittle .5s .1s ease-out backwards;
          animation: slideTopALittle .5s .1s ease-out backwards; }

.mod_popup_txt {
  position: absolute;
  left: 0;
  top: 3.84rem;
  width: 100%;
  height: 1.28rem;
  line-height: 1.28rem;
  text-align: center;
  font-size: 1.05rem;
  color: #000; }

.mod_popup_txt b {
  color: #fc5f3a; }

.mod_popup_tip {
  position: absolute;
  top: 5.80267rem;
  width: 100%;
  height: 0.68267rem;
  font-size: 0;
  text-align: center;
  color: #999;
  overflow: hidden; }

.mod_popup_tip span {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.42667rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.59733rem; }

.mod_popup_tip b {
  display: inline-block;
  vertical-align: top;
  padding: 0 0.17067rem;
  max-width: 2.98667rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.mod_popup_tip::before, .mod_popup_tip::after {
  content: "ooo";
  display: inline-block;
  vertical-align: top;
  width: 1.664rem;
  height: 0.68267rem;
  line-height: 0.68267rem;
  font-size: 0.59733rem;
  color: #B5B5B5;
  overflow: hidden; }

.win.in .mod_popup_yqsex {
  position: absolute;
  left: 10.944rem;
  top: 7.89333rem;
  width: 2.34667rem;
  height: 2.90133rem;
  background-position: -0.8533rem -20.032rem;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: popupYqsex .2s .6s ease-out backwards;
          animation: popupYqsex .2s .6s ease-out backwards; }

.win.in .mod_popup_xiu {
  position: absolute;
  left: 6.18667rem;
  top: 0.128rem;
  width: 1.024rem;
  height: 2.13333rem;
  background-position: -20.2453rem -2.5173rem;
  -webkit-animation: slideTopALittle .5s ease-out backwards;
          animation: slideTopALittle .5s ease-out backwards; }

.mod_popup_close {
  display: block;
  position: absolute;
  left: 11.28533rem;
  top: 2.176rem;
  width: 1.28rem;
  height: 1.28rem;
  background: rgba(56, 56, 90, 0.8);
  border-radius: 1.28rem;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.mod_popup_close::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.426665rem;
  width: 0.85333rem;
  height: 1px;
  background: #fff; }

.mod_popup_close::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -0.426665rem;
  height: 0.85333rem;
  width: 1px;
  background: #fff; }

.mod_popup.lose {
  background: rgba(0, 0, 0, 0.5); }

.mod_popup_lose_inner {
  position: relative;
  margin: 2.13333rem 0 0 0.14933rem;
  width: 9.70067rem;
  height: 5.97333rem;
  background-color: #fff; }

.mod_popup_cry {
  position: absolute;
  left: 3.52rem;
  top: 1.856rem;
  width: 2.00533rem;
  height: 3.02933rem;
  background-position: -16.5333rem -0.8533rem; }

.mod_popup_leaf {
  position: absolute;
  width: 0.512rem;
  height: 0.59733rem;
  background-position: -16.5333rem -4.1813rem; }

.mod_popup_leaf1 {
  left: 2.70933rem;
  top: 3.648rem; }

.mod_popup_leaf2 {
  left: 5.76rem;
  top: 1.51467rem; }

.lose.in .mod_popup_leaf1 {
  left: 2.70933rem;
  top: 3.648rem;
  -webkit-animation: leaf1 .9s .6s ease backwards;
          animation: leaf1 .9s .6s ease backwards; }

.lose.in .mod_popup_leaf2 {
  left: 5.76rem;
  top: 1.51467rem;
  -webkit-animation: leaf2 .8s .6s ease backwards;
          animation: leaf2 .8s .6s ease backwards; }

.mod_popup_line {
  position: absolute;
  left: 5.376rem;
  top: 0.93867rem;
  width: 0.59733rem;
  height: 0.72533rem;
  background-position: -16.5333rem -4.9493rem; }

.lose.in .mod_popup_line {
  -webkit-animation: popupLine .8s .5s ease backwards;
          animation: popupLine .8s .5s ease backwards; }

.mod_popup_losetip {
  position: absolute;
  left: 0;
  top: 5.056rem;
  width: 100%;
  height: 0.59733rem;
  line-height: 0.59733rem;
  text-align: center;
  font-size: 0.59733rem;
  color: #333; }

@-webkit-keyframes popupLine {
  0% {
    -webkit-clip-path: polygon(0 100%, 0 100%, 0 100%);
            clip-path: polygon(0 100%, 0 100%, 0 100%); }
  25% {
    -webkit-clip-path: polygon(0 82%, 100% 81%, 100% 100%, 0 100%);
            clip-path: polygon(0 82%, 100% 81%, 100% 100%, 0 100%); }
  50% {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 73% 47%, 74% 64%, 99% 100%, 0 100%, 56% 77%, 64% 58%);
            clip-path: polygon(20% 0%, 80% 0%, 73% 47%, 74% 64%, 99% 100%, 0 100%, 56% 77%, 64% 58%); }
  60% {
    -webkit-clip-path: polygon(50% 0%, 72% 48%, 75% 70%, 100% 100%, 0 100%, 55% 78%, 5% 68%);
            clip-path: polygon(50% 0%, 72% 48%, 75% 70%, 100% 100%, 0 100%, 55% 78%, 5% 68%); }
  75% {
    -webkit-clip-path: polygon(28% 0, 100% 34%, 79% 100%, 0 100%, 0 0);
            clip-path: polygon(28% 0, 100% 34%, 79% 100%, 0 100%, 0 0); }
  100% {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }

@keyframes popupLine {
  0% {
    -webkit-clip-path: polygon(0 100%, 0 100%, 0 100%);
            clip-path: polygon(0 100%, 0 100%, 0 100%); }
  25% {
    -webkit-clip-path: polygon(0 82%, 100% 81%, 100% 100%, 0 100%);
            clip-path: polygon(0 82%, 100% 81%, 100% 100%, 0 100%); }
  50% {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 73% 47%, 74% 64%, 99% 100%, 0 100%, 56% 77%, 64% 58%);
            clip-path: polygon(20% 0%, 80% 0%, 73% 47%, 74% 64%, 99% 100%, 0 100%, 56% 77%, 64% 58%); }
  60% {
    -webkit-clip-path: polygon(50% 0%, 72% 48%, 75% 70%, 100% 100%, 0 100%, 55% 78%, 5% 68%);
            clip-path: polygon(50% 0%, 72% 48%, 75% 70%, 100% 100%, 0 100%, 55% 78%, 5% 68%); }
  75% {
    -webkit-clip-path: polygon(28% 0, 100% 34%, 79% 100%, 0 100%, 0 0);
            clip-path: polygon(28% 0, 100% 34%, 79% 100%, 0 100%, 0 0); }
  100% {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0); } }
@-webkit-keyframes blink {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
@keyframes blink {
  0% {
    opacity: 0.6; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.6; } }
@-webkit-keyframes popupYqsex {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-45deg);
            transform: translateX(-100%) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg); } }
@keyframes popupYqsex {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%) rotate(-45deg);
            transform: translateX(-100%) rotate(-45deg); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg); } }
@-webkit-keyframes slideTopALittle {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(2.34667rem);
            transform: translateY(2.34667rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes slideTopALittle {
  0% {
    opacity: 0.8;
    -webkit-transform: translateY(2.34667rem);
            transform: translateY(2.34667rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes leaf1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) rotate(-25deg);
            transform: translate(50%, -50%) rotate(-25deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }
@keyframes leaf1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(50%, -50%) rotate(-25deg);
            transform: translate(50%, -50%) rotate(-25deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }
@-webkit-keyframes leaf2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%) rotate(25deg);
            transform: translate(-50%, 50%) rotate(25deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }
@keyframes leaf2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 50%) rotate(25deg);
            transform: translate(-50%, 50%) rotate(25deg); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg); } }

.login {

}

.mod_loading{text-align:center;padding:20px 0;text-align:center;color:#000;line-height:21px;}
    /*.mod_loading:before{content:'';display:block;width:16px;height:16px;margin:0 auto;background-image:url(http://static.paipaiimg.com/fd/qqpai/base/img/loading.gif);background-repeat:no-repeat;background-position:center;-webkit-background-size:16px;background-size:16px;margin-bottom:10px;}*/
    .mod_loading_inner {margin:0 auto;text-align: center; position: relative; width: 140px; border-radius: 6px; font-size: 14px; padding: 45px 0 10px 0;color:#000; }
    .mod_loading_icon { position: absolute; top: 15px; left: 50%; margin-left: -10px; width: 18px; height: 18px; border: 1px solid #FF5A54;border-radius: 20px; -webkit-animation: gif 1s infinite linear; animation: gif 1s infinite linear; clip: rect(0 auto 17px 0) }

@-webkit-keyframes gif {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes gif {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
