<!--
  @author: luckyadam
  @name: index_regular
  @date: games
  @description: 规则
-->

<div class="index_regular">
  <div class="index_regular_wrap">
    <div class="index_regular_wrap_tit">抽奖规则</div>
    <ul>
      <li><div>1.</div><div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div></li>
      <li><div>2.</div><div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div></li>
      <li><div>3.</div><div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div></li>
      <li><div>4.</div><div>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</div></li>
    </ul>
  </div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
