<!--
  @author: luckyadam
  @name: index_regular
  @date: games
  @description: 规则
-->

<div class="index_regular index_img">
  <div class="index_regular_wrap">
    <div class="index_regular_wrap_tit">抽奖规则</div>
    <ul>
      <li><div>①</div><div>所有拍拍用户均可以在拍拍App免费参与抽奖；</div></li>
      <li><div>②</div><div>每天用户ID有3次抽奖机会，分享可新增抽奖机会，每天最多可新增3次；</div></li>
      <li><div>③</div><div>三个游戏的中奖状态各有不同，摇一摇游戏中摇到了一个散散发光的小p时，表示中奖；老虎机游戏有三个图片都一样时，表示中奖；抓小p游戏时抓到了小p，表示中奖；</div></li>
      <li><div>④</div><div>如中奖，拍拍代金券和店铺优惠券会直接发放至您的拍拍账户中，您可点击“查看我的券”，也可以在“我的 – 我的拍拍 – 我的券”中查看；</div></li>
      <li><div>⑤</div><div>如用户在抽奖过程中存在作弊或其他恶意骗取奖品的行为，即取消抽奖参与资格；</div></li>
    </ul>
  </div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
