$baseFontSize: 40px;

// pxToRem
@function rem($px){
  @return ceil(($px/$baseFontSize * 640/750)*10000)/10000+rem;
}


.index_regular {position:relative;margin:0 auto;width: rem(704px); height: rem(603px);background-position: rem(-1010px) rem(-40px);}
  .index_regular_wrap {position:absolute;top:0;left:0;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px 20px 20px 10px;width:100%;height:100%; overflow:scroll;}
    .index_regular_wrap_tit {font-family:'MFLiHei';font-size:16px;line-height:1;}
    .index_regular_wrap ul {margin-top:5.5px;color:#38385A;}
      .index_regular_wrap ul li {overflow:hidden;}
        .index_regular_wrap ul li div:first-child {float:left;}
        .index_regular_wrap ul li div:last-child {margin-left:15px;word-wrap:break-word;word-break:break-all}
