<!--
  @author: candywang
  @name: beauty
  @date: 2015Double11
  @description: 选美女
-->

<div class="wrap beauty" id="beauty" style="display: none;">
	<div class="page page_main page0">
		<div class="page0_bubble"></div>
		<a href="#" class="select option1 select_on" data-class='beauty' data-selection='1'><span class="arrow"></span>熟女</a>
		<a href="#" class="select option2"data-class='beauty' data-selection='2'><span class="arrow"></span>淑女</a>
		<div class="page0_heart"></div>
		<div class="page0_boy">
			<div class="page0_boy_eye"></div>
			<div class="page0_boy_slobber"></div>
		</div>
		<div class="page0_txt"></div>
	</div>
	<div class="section">
		<div id="beauty_0" class="page sub_page page1 out">
			<div class="page1_bg1"></div>
			<div class="page1_bg2"></div>
			<div class="page1_boy"></div>
			<div class="page1_lady">
				<div class="page1_lady_nose"></div>
			</div>
			<div class="page1_txt"></div>
			<div class="page_nextbtn page1_nextbtn">
				<div class="page_nextbtn_txt"></div>
				<div class="page1_nextbtn_lady"></div>
			</div>
		</div>
		<div id="beauty_1" class="page sub_page page2 out">
			<div class="page2_bg"></div>
			<div class="page2_boy">
				<div class="page2_boy_blood1"></div>
				<div class="page2_boy_blood2"></div>
			</div>
			<div class="page2_lady">
				<div class="page2_lady_slobber"></div>
			</div>
			<div class="page2_txt"></div>
			<div class="page_nextbtn page2_nextbtn">
				<div class="page_nextbtn_txt"></div>
				<div class="page2_nextbtn_lady"></div>
			</div>
		</div>
		<div id="beauty_2" class="page sub_page page3 out">
			<div class="page3_lady1"></div>
			<div class="page3_lady2"></div>
			<div class="page3_beizi"></div>
			<div class="promote_words"></div>
			<a href="http://www.paipai.com/m2/2014/import/3598/index.shtml" class="mall_link">上拍拍<span class="double11">11.11</span>包你对！</a>
			<a href="#" class="back_btn">如果能重来 我要选...</a>

			<div class="next_btn"><div class="next_arrow"></div></div>
		</div>
		<div id="beauty_3" class="page share out"><span class="share_man"></span></div>
	</div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
