$baseFontSize: 40px;

// pxToRem
@function rem($px){
  @return ceil(($px/$baseFontSize * 640/750)*10000)/10000+rem;
}

.crane_guide {
  opacity: 1;
  transition: all opacity .5s ease-in-out;
}

.crane_guide.out {
  opacity: 0;
  display: none;
}

.page1_yuanqi { position: absolute;left: -1.10933515rem;bottom: -1.6640027rem;width: 8.533333rem;height: 9.98400182rem;background-position: rem(-1180px) rem(-40px);
  animation: slideTopRight .5s ease; }
.page1_yinfu1 { position: absolute;left: 0.938664846rem;bottom: 8.3626703rem;width: 2.048rem;height: 2.6453315rem;background-position: rem(-820px) rem(-40px);
  animation: slideTopRight .6s ease backwards; }
.page1_yinfu2 { position: absolute;left: 7.210663936rem;bottom: 0;width: 2.2186703rem;height: 2.730666667rem;background-position: rem(-996px) rem(-40px);
  animation: slideTopRight .6s ease backwards; }
.page1_dialog { position: absolute;left: 4.73600273rem;bottom: 7.4666693973rem;width: 6.698667576888889rem;height: 7.80800273rem;background-position: rem(-40px) rem(-40px);
  animation: slideALittle 1s .6s ease backwards; }
.page1_dialog_push { position: absolute;z-index: 2;left: 50%;top: 1.1519990897777779rem;margin-left: -0.9386684871rem;width: 1.8773369742rem;height: 0.55466757689rem;background-position: rem(-652px) rem(-40px);
  animation: slideDown .5s .9s ease-in infinite; }
.page1_dialog_btn { position: absolute;left: 50%;top: 2.133335rem;margin-left: -1.450668487rem;width: 2.901336974rem;height: 2.5599963591rem;background-position: rem(-436px) rem(-40px);
  transform-origin: center bottom;animation: scale .5s .9s ease-in infinite; }
