/*
 * @author: luckyadam
 * @time: 2015-11-4
*/
body {
  background: url(/xgames/games/images/crane_bg_57cda176.png) repeat;
  background-size: 16rem auto; }

.crane, .crane_page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.crane_imgs {
  background-image: url(/xgames/games/images/crane_imgs_bf1dfe1a.png);
  background-repeat: no-repeat;
  background-size: 74.7094rem auto; }

/* page4 */
@-webkit-keyframes handDown2 {
  0% {
    -webkit-transform: translateY(0%); }
  40% {
    -webkit-transform: translateY(10.66667rem); }
  60% {
    -webkit-transform: translateY(10.66667rem); }
  100% {
    -webkit-transform: translateY(0%); } }
@-webkit-keyframes cranedDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10.66667rem); } }
/* page3 */
@-webkit-keyframes handMove {
  0% {
    -webkit-transform: translateX(0%); }
  33% {
    -webkit-transform: translateX(-4.62933rem); }
  66% {
    -webkit-transform: translateX(3.62667rem); }
  100% {
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes scaleALittle {
  0% {
    -webkit-transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.05, 1.05); }
  100% {
    -webkit-transform: scale(1, 1); } }
/* page2 */
@-webkit-keyframes handDown {
  0% {
    bottom: 23.872rem; }
  100% {
    bottom: 19.79733rem; } }
@-webkit-keyframes slidetoTop {
  0% {
    -webkit-transform: translateY(200%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-webkit-keyframes slideTopRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@keyframes slideTopRight {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@-webkit-keyframes slideALittle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-5%, 5%);
            transform: translate(-5%, 5%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@keyframes slideALittle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-5%, 5%);
            transform: translate(-5%, 5%); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%); }
  70% {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%); }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@keyframes slideDown {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }
  50% {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%); }
  70% {
    -webkit-transform: translate(0%, 200%);
            transform: translate(0%, 200%); }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%); } }
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  50% {
    -webkit-transform: scale3D(1.02, 0.85, 1);
            transform: scale3D(1.02, 0.85, 1); }
  70% {
    -webkit-transform: scale3D(1.1, 0.85, 1.1);
            transform: scale3D(1.1, 0.85, 1.1); }
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); } }
@keyframes scale {
  0% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  50% {
    -webkit-transform: scale3D(1.02, 0.85, 1);
            transform: scale3D(1.02, 0.85, 1); }
  70% {
    -webkit-transform: scale3D(1.1, 0.85, 1.1);
            transform: scale3D(1.1, 0.85, 1.1); }
  100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); } }

.page_btn {
  position: absolute;
  left: 50%;
  bottom: 3.24267rem;
  margin-left: -2.922665rem;
  width: 5.84533rem;
  height: 5.29067rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -19.072rem -0.8533rem; }

.page_btn2, .page_btn4, .page_btn5, .page_btn6 {
  display: none; }

.page_btn4.in, .page_btn5.in, .page_btn6.in {
  display: block; }

.page_btn1_other {
  position: absolute;
  left: 1.87733697422rem;
  top: 0.511996359rem;
  width: 2.304rem;
  height: 2.26133rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -5.4613rem -0.8533rem; }

.page_btn1_eyer {
  position: absolute;
  left: 3.19999908978rem;
  top: 0.96000045511rem;
  width: 0.981336064rem;
  height: 0.64000273rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -9.472rem -0.8533rem;
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation: pageBtn1eyer .5s 1s ease infinite;
  animation: pageBtn1eyer .5s 1s ease infinite; }

.page_btn2_eyel {
  position: absolute;
  left: 1.536rem;
  top: 0.704rem;
  width: 1.10933rem;
  height: 1.36533rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -12.16rem -0.8533rem; }

.page_btn2_eyer {
  position: absolute;
  left: 3.2rem;
  top: 0.704rem;
  width: 1.10933rem;
  height: 1.36533rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -12.16rem -0.8533rem; }

.page_btn2_mouth {
  position: absolute;
  left: 2.66667rem;
  top: 1.70667rem;
  width: 0.512rem;
  height: 0.34133rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -13.76rem -0.8533rem; }

.page_btn2_eyel, .page_btn2_eyer {
  -webkit-animation: scaleALittle .5s ease infinite;
  animation: scaleALittle .5s ease infinite; }

.page_btn3 {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 3.24267rem;
  margin-left: -4.053335rem;
  width: 8.10667rem;
  height: 4.864rem; }

.page_btn3_main {
  width: 5.8454rem;
  height: 4.4801rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -9.472rem -4.48rem;
  margin: 0.256rem auto 0; }

.page_btn3_line {
  position: absolute;
  left: 0;
  top: 0;
  width: 8.10667rem;
  height: 2.38933rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -8.384rem -10.6666rem;
  -webkit-animation: scaleALittle .5s ease infinite;
  animation: scaleALittle .5s ease infinite; }

.page_btn4_main {
  position: absolute;
  left: 1.6rem;
  top: 1.024rem;
  width: 2.64533rem;
  height: 1.49333rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -8.384rem -14.7626rem; }

.page_btn4_eye {
  position: absolute;
  left: 3.072rem;
  top: 1.10933rem;
  width: 0.384rem;
  height: 0.384rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -11.0293rem -14.7626rem; }

.page_btn4.in .page_btn4_eye {
  -webkit-animation: slideRightALittle .5s .2s ease backwards;
  animation: slideRightALittle .5s .2s ease backwards; }

.page_btn4_mouth {
  position: absolute;
  left: 3.072rem;
  top: 1.92rem;
  width: 0.64rem;
  height: 0.53333rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -11.4773rem -14.7626rem; }

.page_btn4.in .page_btn4_mouth {
  -webkit-animation: slideRightALittle .5s .2s ease backwards;
  animation: slideRightALittle .5s .2s ease backwards; }

.page_btn5_mouth {
  position: absolute;
  left: 1.77067rem;
  top: 1.74933rem;
  width: 2.34667rem;
  height: 0.81067rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -14.976rem -1.472rem;
  -webkit-animation: btn5Mouth .8s .2s linear backwards;
  animation: btn5Mouth .8s .2s linear backwards; }

.page_btn5_circle {
  position: absolute;
  left: 1.344rem;
  top: 1.344rem;
  width: 0.68267rem;
  height: 0.59733rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -14.976rem -0.8533rem; }

.page_btn5_circle2 {
  left: 3.81867rem; }

.page_btn5.in .page_btn5_circle1 {
  -webkit-animation: btn5circle1 .8s .2s linear backwards;
  animation: btn5circle1 .8s .2s linear backwards; }

.page_btn5.in .page_btn5_circle2 {
  -webkit-animation: btn5circle2 .8s .2s linear backwards;
  animation: btn5circle2 .8s .2s linear backwards; }

.page_btn6_main {
  position: absolute;
  left: 1.984rem;
  top: 0.576rem;
  width: 1.96267rem;
  height: 0.81067rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -13.8453rem -14.7626rem; }

.page_btn6_mouth {
  position: absolute;
  left: 2.56rem;
  top: 1.42933rem;
  width: 0.768rem;
  height: 1.06667rem;
  background-image: url(/xgames/games/images/page_btn_imgs_7bec1422.png);
  background-repeat: no-repeat;
  background-size: 25.7707rem auto;
  background-position: -14.4426rem -15.616rem; }

.page_btn6.in .page_btn6_mouth {
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: bigMouth .2s .2s ease-in backwards;
  animation: bigMouth .2s .2s ease-in backwards; }

/* page6 */
@-webkit-keyframes bigMouth {
  0% {
    -webkit-transform: scale(1, 0.4); }
  100% {
    -webkit-transform: scale(1, 1); } }
/* page5 */
@-webkit-keyframes btn5Mouth {
  0% {
    -webkit-clip-path: polygon(15% 0, 87% 0, 87% 100%, 15% 100%); }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
@-webkit-keyframes btn5circle1 {
  0% {
    -webkit-transform: translate(0.53333rem, 0.53333rem); }
  100% {
    -webkit-transform: translate(0, 0); } }
@-webkit-keyframes btn5circle2 {
  0% {
    -webkit-transform: translate(-0.53333rem, 0.53333rem); }
  100% {
    -webkit-transform: translate(0, 0); } }
@-webkit-keyframes slideRightALittle {
  0% {
    -webkit-transform: translateX(-0.34133rem); }
  100% {
    -webkit-transform: translate(0); } }
@-webkit-keyframes scaleALittle {
  0% {
    -webkit-transform: scale(1, 1); }
  50% {
    -webkit-transform: scale(1.05, 1.05); }
  100% {
    -webkit-transform: scale(1, 1); } }
@-webkit-keyframes pageBtn1eyer {
  0% {
    opacity: 1;
    -webkit-transform: scaleY(1); }
  40% {
    opacity: 0.9;
    -webkit-transform: scaleY(0.85); }
  70% {
    opacity: 0.9;
    -webkit-transform: scaleY(0.85); }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1); } }

.crane_guide {
  opacity: 1;
  -webkit-transition: all opacity .5s ease-in-out;
          transition: all opacity .5s ease-in-out; }

.crane_guide.out {
  opacity: 0;
  display: none; }

.page1_yuanqi {
  position: absolute;
  left: -1.10933515rem;
  bottom: -1.6640027rem;
  width: 8.533333rem;
  height: 9.98400182rem;
  background-position: -25.1733rem -0.8533rem;
  -webkit-animation: slideTopRight .5s ease;
          animation: slideTopRight .5s ease; }

.page1_yinfu1 {
  position: absolute;
  left: 0.938664846rem;
  bottom: 8.3626703rem;
  width: 2.048rem;
  height: 2.6453315rem;
  background-position: -17.4933rem -0.8533rem;
  -webkit-animation: slideTopRight .6s ease backwards;
          animation: slideTopRight .6s ease backwards; }

.page1_yinfu2 {
  position: absolute;
  left: 7.210663936rem;
  bottom: 0;
  width: 2.2186703rem;
  height: 2.730666667rem;
  background-position: -21.248rem -0.8533rem;
  -webkit-animation: slideTopRight .6s ease backwards;
          animation: slideTopRight .6s ease backwards; }

.page1_dialog {
  position: absolute;
  left: 4.73600273rem;
  bottom: 7.4666693973rem;
  width: 6.698667576888889rem;
  height: 7.80800273rem;
  background-position: -0.8533rem -0.8533rem;
  -webkit-animation: slideALittle 1s .6s ease backwards;
          animation: slideALittle 1s .6s ease backwards; }

.page1_dialog_push {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 1.1519990897777779rem;
  margin-left: -0.9386684871rem;
  width: 1.8773369742rem;
  height: 0.55466757689rem;
  background-position: -13.9093rem -0.8533rem;
  -webkit-animation: slideDown .5s .9s ease-in infinite;
          animation: slideDown .5s .9s ease-in infinite; }

.page1_dialog_btn {
  position: absolute;
  left: 50%;
  top: 2.133335rem;
  margin-left: -1.450668487rem;
  width: 2.901336974rem;
  height: 2.5599963591rem;
  background-position: -9.3013rem -0.8533rem;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: scale .5s .9s ease-in infinite;
          animation: scale .5s .9s ease-in infinite; }

.crane_main {
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
          transition: opacity .5s ease-in-out; }

.crane_main.in {
  opacity: 1; }

.page_machine {
  position: absolute;
  left: -3.96800091rem;
  bottom: -1.856001365rem;
  width: 23.8506693973rem;
  height: 24.06400364rem;
  background-position: -50.0053rem -0.8533rem; }

.countdown2 {
  top: auto;
  left: 50%;
  bottom: 10.623997269rem;
  margin-left: -4.117331968rem;
  width: 8.234663936rem;
  height: 6.997rem; }

.page_body, .page_glass {
  position: absolute;
  left: 1.66400273rem;
  bottom: 7.68000364rem;
  width: 12.88533rem;
  height: 13.44rem;
  overflow: hidden;
  background-position: -35.4133rem -0.8533rem;
  background-color: #fff; }

.page_body2 {
  background: none; }

.yuanqis {
  position: absolute;
  left: -0.34133rem;
  bottom: -1.42933rem;
  width: 13.824rem;
  height: 8.61867rem;
  background-position: -52.3946rem -26.624rem; }

.yuanqis1 {
  position: absolute;
  left: -0.512rem;
  bottom: 3.17867rem;
  width: 13.39733rem;
  height: 8.192rem;
  background-position: -39.3386rem -36.9493rem; }

.yuanqis2 {
  position: absolute;
  left: 0.02133rem;
  bottom: 4.69333rem;
  width: 13.39733rem;
  height: 8.192rem;
  background-position: -54.4426rem -36.9493rem; }

.crane_main.in .yuanqis {
  -webkit-animation: slidetoTop .5s .2s ease-out both;
  animation: slidetoTop .5s .2s ease-out both; }

.crane_main.in .yuanqis1 {
  -webkit-animation: slidetoTop .5s .5s ease-out both;
  animation: slidetoTop .5s .5s ease-out both; }

.crane_main.in .yuanqis2 {
  -webkit-animation: slidetoTop .7s 1s ease-out both;
  animation: slidetoTop .7s 1s ease-out both; }

.page_glass {
  background-position: -0.8533rem -16rem;
  background-color: transparent; }

.page_hand {
  position: absolute;
  left: 50%;
  bottom: 23.872rem;
  margin-left: -3.562665rem;
  width: 7.12533rem;
  height: 22.4rem;
  background-position: -15.4453rem -16rem; }

.crane_main.in .page_hand {
  -webkit-animation: handDown 1s .2s linear forwards,handMove 1.8s 2s linear forwards infinite;
          animation: handDown 1s .2s linear forwards,handMove 1.8s 2s linear forwards infinite; }

.crane_main.in .page_hand.down {
  -webkit-animation: handDown 1s .2s linear forwards,handMove 1.8s 2s linear forwards infinite,handDown2 5s linear;
          animation: handDown 1s .2s linear forwards,handMove 1.8s 2s linear forwards infinite,handDown2 5s linear; }

.crane_main.in .page_hand.page_handwin {
  background-position: -15.4453rem -16rem; }

.crane_main.in .page_hand.page_handlose {
  background-position: -15.4453rem -16rem; }

.crane_main.in .page_hand.stop {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.page_craned {
  display: none;
  position: absolute;
  left: 1.472rem;
  bottom: -0.5rem;
  width: 2.73067rem;
  height: 3.62667rem;
  background-position: -43.392rem -26.624rem; }

.page_craned.in {
  display: block; }

.page_craned2 {
  left: 1.1rem;
  bottom: -0.5rem;
  width: 2.85867rem;
  height: 3.62667rem;
  background-position: -47.8293rem -26.624rem; }

.page_craned.down {
  -webkit-animation: cranedDown .7s .2s ease-in forwards;
  animation: cranedDown .7s .2s ease-in forwards; }
