/*
 * @author: luckyadam
 * @time: 2015-11-3
*/
body {
  background: #F5F2E2 url(/xgames/games/images/index_bg_db8dbec5.png) repeat;
  background-size: 16rem auto; }

.index {
  padding-bottom: 50px;
  display: none; }

.index.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.mod_loading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.index_img {
  background-image: url(/xgames/games/images/index_imgs_d827963e.png);
  background-repeat: no-repeat;
  background-size: 37.4187rem auto; }

.index_img2 {
  background-image: url(/xgames/games/images/index_imgs2_a62e67ed.png);
  background-repeat: no-repeat;
  background-size: 856px auto; }

@font-face {
  font-family: 'MFLiHei';
  src: url("/xgames/games/images/MFLiHei_Noncommercial-Regular_03bdd4c7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  margin-bottom: 12.5px;
  width: 16rem;
  height: 10.368rem; }

.header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: -0.8533rem -10.8373rem; }

.header_wrap_coin {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 13.3333%;
  padding-top: 13.3333%;
  background-position: -17.7066rem -0.8533rem; }

.header_wrap_down {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 48.1333%;
  padding-top: 12.1333%;
  background-position: -0.8533rem -4.48rem; }

.main {
  position: relative;
  margin: 0 auto 1.536rem;
  width: 94.6666%; }

.main_tip {
  z-index: 7;
  position: absolute;
  top: -1.024rem;
  left: 0;
  width: 100%;
  text-align: center; }

.main_tip_msg {
  display: inline-block;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  border: 2px solid #38385A;
  border-radius: 15px;
  background: #FCED4A;
  color: #38385A; }

.main_tip_msg .highlight {
  margin: 0 3px;
  font-size: 16px;
  font-weight: bold;
  color: #FE7624; }

.game_carousel {z-index:5; position:relative;margin:0 auto;width:206px;height:306px;  -webkit-tansform-style:preserve-3d; -webkit-perspective: 1000;}
  .game_carousel_card {-webkit-transform-style:flat;transform-style:flat;position:absolute;top:0;left:0;box-sizing:border-box;padding:7px;width:100%;height:100%;border:3px solid #38385A;border-radius:15px; -webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center; -webkit-transition:0.3s ease;transition:0.3s ease;}
  .game_carousel_card.blue {background-color:#0D9CDF; }
  .game_carousel_card.purple {background-color:#9069F5; }
  .game_carousel_card.green {background-color:#A1DD00; }
  .game_carousel_card.sfight, .game_carousel_card.tfight {background-color:#BCBCBC;}

  .game_carousel.prev .game_carousel_card:nth-child(1) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.prev .game_carousel_card:nth-child(1) .game_carousel_card_cont {-webkit-animation:card_p 0.9s steps(1, end) infinite;animation:card_p 0.9s steps(1, end) infinite;}
  .game_carousel.prev .game_carousel_card:nth-child(2) {-webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.prev .game_carousel_card:nth-child(3) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.before .game_carousel_card:nth-child(1) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.before .game_carousel_card:nth-child(2) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.before .game_carousel_card:nth-child(2) .game_carousel_card_cont {-webkit-animation:card_b 0.9s steps(1, end) infinite;animation:card_b 0.9s steps(1, end) infinite;}
  .game_carousel.before .game_carousel_card:nth-child(3) {webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);-webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(1) {webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);-webkit-transform:translate3d(67px, 0px, 0px) scale(0.85);transform:translate3d(67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(2) {-webkit-transform:translate3d(-67px, 0px, 0px) scale(0.85);transform:translate3d(-67px, 0px, 0px) scale(0.85);}
  .game_carousel.next .game_carousel_card:nth-child(3) {z-index:4; -webkit-transform:translate3d(0, 0px, 100px) scale(1);transform:translate3d(0, 0px, 100px) scale(1);}
    .game_carousel.next .game_carousel_card:nth-child(3) .game_carousel_card_cont {-webkit-animation:card_g 0.9s steps(1, end) infinite;animation:card_g 0.9s steps(1, end) infinite;}

    .game_carousel_card_cont {position:relative;box-sizing:border-box;width:100%;height:100%;border:6px solid #ccc;border-radius:15px;}
    .game_carousel_card.blue .game_carousel_card_cont {border-color:#0B88CF;background-color:#13B0EB;background-position: -20px -20px; }
    .game_carousel_card.purple .game_carousel_card_cont {border-color:#8258FB;background-color:#9C76FF;background-position: -662px -20px; }
    .game_carousel_card.green .game_carousel_card_cont {border-color:#94CC00;background-color:#A8E602;background-position: -20px -334px; }

    .game_carousel .game_carousel_card.sfight .game_carousel_card_cont, .game_carousel_card.tfight .game_carousel_card_cont { -webkit-animation:none !important;animation:none !important;}
    .game_carousel_card.blue.sfight .game_carousel_card_cont, .game_carousel_card.blue.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2;background-position: -448px -20px;-webkit-animation:none;animation:none;}
    .game_carousel_card.purple.sfight .game_carousel_card_cont, .game_carousel_card.purple.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2; background-position: -20px -648px;-webkit-animation:none;animation:none;}
    .game_carousel_card.green.sfight .game_carousel_card_cont, .game_carousel_card.green.tfight .game_carousel_card_cont {border-color:#AAAAAA;background-color:#D2D2D2; background-position: -448px -334px;-webkit-animation:none;animation:none;}
      .game_carousel_card_cont .circle {position:absolute;top:82px;left:32px;display:none;padding:22px;width:66px;height:66px;border-radius:50%;text-align:center;font-family:'MFLiHei';font-size:29px;line-height:1.2;font-weight:bold;color:#38385A;}
      .game_carousel_card_cont .circle:after {content:'';position:absolute;top:6px;left:6px;width:90px;height:90px;border:4px solid #38385A;border-radius:50%;}
      .game_carousel_card_cont .circle.orange {background-color:#FE7624;}
      .game_carousel_card_cont .circle.yellow {background-color:#FEEC24;}
      .game_carousel_card.sfight .circle.orange {display:block;}
      .game_carousel_card.tfight .circle.yellow {display:block;}

@-webkit-keyframes card_b {
  0% {background-position: -20px -20px;}
  50% {background-position: -234px -20px;}
}

@keyframes card_b {
  0% {background-position: -20px -20px;}
  50% {background-position: -234px -20px;}
}
@-webkit-keyframes card_p {
  0% {background-position: -662px -20px;}
  50% {background-position: -662px -334px;}
}
@keyframes card_p {
  0% {background-position: -662px -20px;}
  50% {background-position: -662px -334px;}
}
@-webkit-keyframes card_g {
  0% {background-position: -20px -334px;}
  50% {background-position: -234px -334px;}
}
@keyframes card_g {
  0% {background-position: -20px -334px;}
  50% {background-position: -234px -334px;}
}

.game_btn {
  z-index: 5;
  position: absolute;
  bottom: -1.1946rem;
  left: 0;
  width: 100%;
  text-align: center; }

.game_btn_msg {
  display: inline-block;
  width: 5.056rem;
  height: 1.4294rem;
  line-height: 1.28rem;
  color: #38385A;
  background-position: -10.2613rem -4.672rem; }

.check_quan {
  display: block;
  margin: 0 auto 0.576rem;
  width: 15.1467rem;
  height: 1.92rem;
  background-position: -0.8533rem -0.8533rem; }

.winner_list {
  margin: 0 auto 15px;
  width: 94.6666%; }

.winner_list_tit {
  margin: 0 auto 5px;
  width: 15.1467rem;
  height: 1.0027rem;
  background-position: -0.8533rem -8.128rem; }

.winner_list_cont {
  position: relative;
  margin: 0 auto;
  padding-top: 45.4929%;
  background: url(/xgames/games/images/ss1_c9883634.png);
  background-size: 100% 100%;
  -webkit-animation: flicker 1.5s steps(1, end) infinite;
          animation: flicker 1.5s steps(1, end) infinite; }

.winner_list_cont_wrap {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10% 10%;
  width: 100%;
  height: 100%; }

.winner_list_cont_wrap_kuang {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.winner_list_cont_wrap_kuang ul li {
  color: #F9E826;
  overflow: hidden; }

.winner_list_cont_wrap_kuang ul li div:first-child {
  float: left; }

.winner_list_cont_wrap_kuang ul li div:last-child {
  margin-left: 100px;
  text-align: right; }

@-webkit-keyframes flicker {
  0% {
    background: url(/xgames/games/images/ss1_c9883634.png);
    background-size: 100% 100%; }
  50% {
    background: url(/xgames/games/images/ss2_195fbe65.png);
    background-size: 100% 100%; } }

@keyframes flicker {
  0% {
    background: url(/xgames/games/images/ss1_c9883634.png);
    background-size: 100% 100%; }
  50% {
    background: url(/xgames/games/images/ss2_195fbe65.png);
    background-size: 100% 100%; } }

.index_regular {
  position: relative;
  margin: 0 auto;
  width: 15.0187rem;
  height: 12.8641rem;
  background-position: -21.5466rem -0.8533rem; }

.index_regular_wrap {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 20px 20px 10px;
  width: 100%;
  height: 100%;
  overflow: scroll; }

.index_regular_wrap_tit {
  font-family: 'MFLiHei';
  font-size: 16px;
  line-height: 1; }

.index_regular_wrap ul {
  margin-top: 5.5px;
  color: #38385A; }

.index_regular_wrap ul li {
  overflow: hidden; }

.index_regular_wrap ul li div:first-child {
  float: left; }

.index_regular_wrap ul li div:last-child {
  margin-left: 15px;
  word-wrap: break-word;
  word-break: break-all; }
