<!--
  @author: liyixin5
  @name: menu
  @date: 2015Double11
  @description: 主页
-->

<div class="page menu" style="-webkit-transform:translateY(100%);">
	<div class="menu_bg"></div>
	<a href="#" class="enter enter_aunt" data-class="aunt"><span>便宜点呗？</span></a>
	<a href="#" class="enter enter_beauty" data-class="beauty"><span>选啥呢？好纠结？</span></a>
	<a href="#" class="enter enter_cat" data-class="cat"><span>假一赔十？</span></a>
	<a href="#" class="enter enter_deliver" data-class="deliver"><span>几时到呀？</span></a>

	<div class="title">
		<h1>你会选谁</h1>
		<h2><i></i><strong>拍拍11.11</strong><span>买</span><span>买</span><span>买</span><span>买</span><span>买</span></h2>
	</div>

	<div class="chars">
		<span class="chars_aunt"></span>
		<span class="chars_beauty"></span>
		<span class="chars_cat"></span>
		<span class="chars_deliver"></span>
	</div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
