<!--
  @author: candywang
  @name: cat
  @date: 2015Double11
  @description: 猫
-->

<div class="wrap cat" id="cat" style="display:none;">
	<div class="page page_main page0">
		<a href="#" class="select option1 select_on" data-class='cat' data-selection='1'><span class="arrow"></span>喝望猫粮</a>
		<a href="#" class="select option2" data-class='cat' data-selection='2'><span class="arrow"></span>韦嘉猫粮</a>
		<div class="page0_cat"></div>
		<div class="page0_cat2"></div>
		<div class="page0_txt"></div>
	</div>
	<div class="section">
		<div id="cat_0" class="page sub_page page1 out">
			<div class="page1_bg1"></div>
			<div class="page1_bg2"></div>
			<div class="page1_cat"></div>
			<div class="page1_txt"></div>
			<div class="page1_fake"></div>
			<div class="page_nextbtn page1_nextbtn">
				<div class="page_nextbtn_txt"></div>
				<div class="page1_nextbtn_cat"></div>
			</div>
		</div>
		<div id="cat_1" class="page sub_page page2 out">
			<div class="page2_bg1"></div>
			<div class="page2_bg2"></div>
			<div class="page2_cat"></div>
			<div class="page2_txt"></div>
			<div class="page2_fake"></div>
			<div class="page_nextbtn page2_nextbtn">
				<div class="page_nextbtn_txt"></div>
				<div class="page2_nextbtn_cat"></div>
			</div>
		</div>
		<div id="cat_2" class="page sub_page page3 out">
			<div class="page3_cat"></div>
			<div class="page3_hand"></div>
			<div class="promote_words"></div>
			<a href="http://www.paipai.com/m2/2014/import/3598/index.shtml" class="mall_link">上拍拍<span class="double11">11.11</span>包你对！</a>
			<a href="#" class="back_btn">如果能重来 我要选...</a>

			<div class="next_btn"><div class="next_arrow"></div></div>
		</div>
		<div id="cat_3" class="page share out"><span class="share_man"></span></div>
	</div>
</div>

<% widget.scriptStart() %>
<script>

</script>
<% widget.scriptEnd() %>
