<!--
  @author: luckyadam
  @name: crane_main
  @date: games
  @description: 抓一抓
-->

<div class="crane_page crane_main">

  <div class="page_body yuanqi crane_imgs">
    <div class="yuanqis2 crane_imgs"></div>
    <div class="yuanqis1 crane_imgs"></div>
  </div>
  <!-- S page_handwin page_handlose  下去抓公仔时添加类down -->
  <div class="page_hand crane_imgs">
    <!-- S 加in显示公仔 不同公仔加类page_craned2 抓取不成功加down-->
    <div class="page_craned crane_imgs"></div>
    <!-- E 加in显示公仔 不同公仔加类page_craned2 -->
  </div>
  <!-- E page_handwin page_handlose  下去抓公仔时添加类down -->

  <div class="page_body page_body2 yuanqi crane_imgs">
    <div class="yuanqis crane_imgs"></div>
  </div>

  <div class="page_glass crane_imgs"></div>
  <div class="page_machine crane_imgs"></div>

  <div class="page_btn page_btn1">
    <div class="page_btn1_other"></div>
    <div class="page_btn1_eyer"></div>
  </div>
  <div class="page_btn page_btn2">
    <div class="page_btn2_eyel"></div>
    <div class="page_btn2_eyer"></div>
    <div class="page_btn2_mouth"></div>
  </div>
  <div class="page_btn3">
    <div class="page_btn3_main"></div>
    <div class="page_btn3_line"></div>
  </div>
  <!-- S  div.page_btn4显示时 添加类 in -->
  <div class="page_btn page_btn4">
    <div class="page_btn4_mouth"></div>
    <div class="page_btn4_main"></div>
    <div class="page_btn4_eye"></div>
  </div>
  <!-- E  div.page_btn4显示时 添加类 in -->
  <!-- S  div.page_btn5显示时 添加类 in -->
  <div class="page_btn page_btn5">
    <div class="page_btn5_mouth"></div>
    <div class="page_btn5_circle page_btn5_circle1"></div>
    <div class="page_btn5_circle page_btn5_circle2"></div>
  </div>
  <!-- E  div.page_btn5显示时 添加类 in -->

  <!-- S  div.page_btn6显示时 添加类 in -->
  <div class="page_btn page_btn6">
    <div class="page_btn6_main"></div>
    <div class="page_btn6_mouth"></div>
  </div>
  <!-- E  div.page_btn6显示时 添加类 in -->


  <%= widget.load('countdown2', null, 'gb') %>

</div>

<% widget.scriptStart() %>
<script>
PP.use('games/widget/crane_main', function (CraneMain) {
  var graneMain = new CraneMain({
    $el: $('.crane_main')
  });
});

</script>
<% widget.scriptEnd() %>
